# Django
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=["127.0.0.1","localhost","web","0.0.0.0"]

# Postgres
POSTGRES_USER=engcard
POSTGRES_DB=engcard
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost

# App
VOCABULARY_CREATE_CARDS_COUNT=5
