# Django
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=["127.0.0.1","localhost"]

# Postgres
DB_NAME=engcard
DB_USER=engcard
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432

# App
VOCABULARY_CREATE_CARDS_COUNT=5
