# Django
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=["127.0.0.1","localhost","web","0.0.0.0"]
CSRF_TRUSTED_ORIGINS=["https://example.com"]

# Postgres
POSTGRES_USER=engcard
POSTGRES_DB=engcard
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost

# Django superuser (created by `manage.py init_superuser`)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=change-me

# App
VOCABULARY_CREATE_CARDS_COUNT=5
