annotated-types==0.7.0
asgiref==3.8.1
django-cors-headers==4.9.0
django-extensions==4.1
django-stubs[compatible-mypy]==6.0.9
Django==5.2.17
djangorestframework-stubs[compatible-mypy]==3.18.0
djangorestframework==3.18.1
mypy==2.3.1
psycopg[binary]==3.2.3
pydantic-settings==2.8.1
pydantic==2.10.6
pydantic_core==2.27.2
python-dotenv==1.0.1
ruff==0.9.7
sqlparse==0.5.3
typing_extensions==4.12.2
