{%extends 'base.html'%}
{%load static%}
{%block content%}
<style>
    :root {
        --card-width: 500px;
        --card-height: 300px;
        --card-height-mob: 220px;
    }

    /* SCREEN */
    #card-screen {
        height: calc(100vh - var(--header-height));
        display: flex;
        flex-direction: column;
    }

    .screen-top {
        flex: 7;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .screen-bottom {
        display: flex;
        justify-content: center;
        background-color: var(--fds-gray-05);
        flex: 3;
        margin-top: auto;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    }

    @media screen and (max-width: 1000px) {
        #card-screen {
            height: calc(100dvh - var(--header-height));
        }

        .screen-top {
            flex: 6;
        }

        .screen-bottom {
            flex: 4;
        }
    }

    /* SCREEN */


    /* CARD */
    .front-card,
    .back-card {
        max-width: 100%;
        position: absolute;
        backface-visibility: hidden;
    }

    .back-card {
        transform: rotateY(180deg);
    }

    /* FOR TEST */
    /* .back-card {
        transform: 1;
    }

    .front-card,
    .back-card {
        position: relative;
        transform: rotateY(0deg);
    } */

    /* FOR TEST */

    .card {
        width: var(--card-width);
        height: var(--card-height);
        max-width: 100%;
        background-size: 400px;
        background-image: url('/static/vocabulary/img/card_background.jpg');
        position: relative;
    }

    .card-wraper {
        width: 100%;
        height: var(--card-height);
        position: relative;
        perspective: 1000px;
        display: flex;
        justify-content: center;
    }

    .card-header {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .card-header,
    .card-footer {
        background-color: initial;
        border-bottom: none;
        border-top: none;
        height: 60px;
    }

    .card-header:empty {
        height: 0px !important;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }

    .card-word-text {
        font-size: 1.6rem;
    }

    .back-card .answer-badge {
        font-size: 1rem;
        font-weight: bold;
        position: absolute;
        width: 100%;
        top: 20px;
    }

    .back-card .correct-badge {
        color: var(--base-lime);

    }

    .back-card .wronge-badge {
        color: var(--base-cherry);

    }

    /* CARD */

    /* BOTTOM INTERFACE */
    #next-card-button {}

    .bottom-interface-wrapper {
        /* height: 100%; */
        width: 500px;
        max-width: 100%;
        padding: 0 10px;
    }

    .action-buttons-wrapper {
        width: 100%;
    }


    .answers-buttons-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .control-button {
        border: none;
        width: 100%;
        transition: 0.3s;
    }

    /* CUSTOM SELECT  */
    .custom-select {
        font-size: 1rem;
        font-family: Arial, sans-serif;
        position: relative;
        width: 250px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .selected-option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        cursor: pointer;
    }

    .selected-option .flag-icon {
        /* margin-right: 10px; */
        font-size: 20px;
    }

    .selected-option .arrow {
        font-size: 16px;
        transition: transform 0.3s;
    }

    .options {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        z-index: 10;
    }

    .option {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
    }

    .option:hover {
        background-color: #f1f1f1;
    }

    .option .flag-icon {
        margin-right: 10px;
        font-size: 20px;
    }

    .option span {
        font-size: 14px;
    }

    .custom-select.open .options {
        display: block;
    }

    .custom-select.open .selected-option .arrow {
        transform: rotate(180deg);
    }

    .option.hidden {
        display: none;
    }

    /* CUSTOM SELECT  */

    @media screen and (max-width: 1000px) {
        .card-word-text {
            font-size: 1.3rem;
            margin-bottom: 0.8rem;
        }

        .card-wraper {
            height: var(--card-height-mob);
        }

        .card {
            height: var(--card-height-mob);
        }
    }
</style>

<div id="card-screen">
    <div class="screen-top">
        <div class="lang-direction-wrapper d-flex justify-content-center my-4">
            <div class="custom-select" id="lang-direction-select">
                <div class="selected-option">
                    <span class="flag-icon selected-flag"></span>
                    <span class="selected-text">Выберете язык</span>
                    <span class="arrow">
                        <i class="fa-solid fa-caret-down"></i>
                    </span>

                </div>
                <div class="options">
                    <div class="option" data-direction="ru_en" data-flag="🇷🇺" data-text="Русский - Английский">
                        <span class="flag-icon">🇷🇺</span>
                        <span>Русский - Английский</span>
                    </div>
                    <div class="option" data-direction="en_ru" data-flag="🇬🇧" data-text="Английский - Русский">
                        <span class="flag-icon">🇬🇧</span>
                        <span>Английский - Русский</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-wraper" id="card" style="display: none;">
                <div class="front-card">
                    <div class="card text-center">
                        <div class="card-body">
                            <p class="card-word-text" id="card-word">
                                <b>Maintain</b>
                            </p>
                            <!-- <p class="card-text fs-5" id="sentense">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit exercitationem. </p> -->
                        </div>
                    </div>
                </div>
                <div class="back-card">
                    <div class="card text-center">
                        <span class="answer-badge correct-badge">Правильно</span>
                        <span class="answer-badge wronge-badge">Неправильно</span>
                        <div class="card-body">
                            <p class="card-word-text" id="card-word-translate">
                                <b>Maintain</b> - поддерживать
                            </p>
                            <p class="card-word-text" id="card-incorrect-answer" style="display: none;">
                                <b>Wrong</b> - Неправильный
                                ответ
                            </p>
                            <!-- <p class="card-text fs-5" id="sentense-translate">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit exercitationem. </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container"></div>
    </div>
    <div class="screen-bottom">
        <!-- CARD TRAINER CONTROL BYUTTONS -->
        <div id="control-buttons"
            class="bottom-interface-wrapper d-flex flex-column align-items-center justify-content-between">
            <div class="answers-buttons-wrapper my-4"></div>
            <div class="action-buttons-wrapper">
                <div class="row gx-2" id="back-buttons" style="display: none;">
                    <div class="col">
                        <button class="btn btn-secondary control-button" id="card-postponed"
                            data-btn-class="btn-secondary">Отложить</button>
                    </div>
                    <div class="col">
                        <button data-btn-class="btn-success" class="btn btn-success control-button"
                            id="card-learned">Изучил</button>
                    </div>
                </div>
                <div class="row gx-2" id="front-buttons">
                    <div class="col">
                        <button data-btn-class="btn-primary" class="btn btn-primary control-button"
                            id="dont-know-btn">Не знаю</button>
                    </div>
                    <div class="col">
                        <button data-btn-class="btn-primary" class="btn btn-primary control-button" id="5050-btn">50 на
                            50</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button id="next-card-button" href="#" class="btn btn-primary control-button my-2"><i
                                class="fas fa-forward" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
  window.cardStatuses = {
    LEARNED: "{{ CARD_STATUS_LEARNED }}",
    POSTPONED: "{{ CARD_STATUS_POSTPONED }}",
    LEARNING: "{{ CARD_STATUS_LEARNING }}"
  };
</script>
<script src="{%static 'card_trainer/js/main.js'%}"></script>
<script>

    const getCardUrl = `{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%url 'card_trainer:get_card'%}`
    const updateCardStatusUrl = `{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%url 'vocabulary:words-list'%}`

    const DEFAULT_VOCABULARY = '{{DEFAULT_VOCABULARY}}'
    const startLangDirection = 'en_ru'
    const vocabularyType = '{{vocabulary_type}}'
    const level = '{{level}}'
    const cardElem = document.getElementById('card')
    const controlButtonsBlock = document.getElementById('control-buttons')
    const langDirectionSelect = document.getElementById('lang-direction-select')

    // Views
    const cardView = new CardView(cardElem)
    const buttonsView = new CardTrainerButtonsView(controlButtonsBlock)
    const langDirectionView = new LangDirectionView(langDirectionSelect)

    const cardTrainerApi = new CardTrainerApi(getCardUrl, updateCardStatusUrl)
    const trainerState = new StateManager(vocabularyType, level)
    const cardTrainer = new CardTrainer(trainerState, buttonsView, cardView, cardTrainerApi, langDirectionView, DEFAULT_VOCABULARY)

    // Events
    buttonsView.button5050ClickEventCallback = cardTrainer.handle5050.bind(cardTrainer)
    buttonsView.answerClickEventCallback = cardTrainer.handleUserAnswer.bind(cardTrainer)
    buttonsView.dontKnowClickEventCallBack = cardTrainer.hanleDontKnow.bind(cardTrainer)
    buttonsView.nextCardClickEventCallback = cardTrainer.handleEventNextCard.bind(cardTrainer) /// ask about probkems with event async func
    buttonsView.setCardLearnedEventCallback = cardTrainer.handleCardLearned.bind(cardTrainer)
    buttonsView.setCardPostponedButtonEventCallback = cardTrainer.handleCardPostponed.bind(cardTrainer)
    langDirectionView.changeLangEventClickCallback = cardTrainer.handleChangeLangDirection.bind(cardTrainer)
    cardView.backCardSideClickEvent = cardTrainer.backClickEvent.bind(cardTrainer)


    cardTrainer.setLangDirection(startLangDirection)
    cardTrainer.showCard()
</script>
{%endblock%}
{%block footer%}

{%endblock%}