{%extends 'base.html'%}
{%load static%}
{%block content%}
<style>
    :root {
        --card-width: 500px;
        --card-height: 300px;
    }

    /* SCREEN */
    #card-screen {
        height: calc(100vh - var(--header-height));
        display: flex;
        flex-direction: column;
    }

    .screen-top {
        flex: 7;
        align-items: center;
        display: flex;
    }

    .screen-bottom {
        background-color: var(--fds-gray-05);
        flex: 3;
        margin-top: auto;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    }

    /* SCREEN */


    /* CARD */
    .front-card,
    .back-card {
        max-width: 100%;
        /* position: absolute; */
        /* backface-visibility: hidden; */
    }

    .back-card {
        /* transform: rotateY(180deg); */
    }

    .card {
        width: var(--card-width);
        height: var(--card-height);
        max-width: 100%;
        background-size: 400px;
        background-image: url('/static/vocabulary/img/card_background.jpg');

    }

    .card-wraper {
        width: 100%;
        height: var(--card-height);
        position: relative;
        perspective: 1000px;
        display: flex;
        justify-content: center;
    }

    .card-header {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .card-header, .card-footer{
        background-color: initial;
        border-bottom: none;
        border-top: none;
        height: 60px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }

    .card-word-text {
        font-size: 1.6rem;
    }
    #answer-status{
        font-size: 1rem;
        font-weight: bold;
    }
    #answer-status span:first-child{
        color: var( --base-lime);
    }
    #answer-status span:last-child{
        color: var(--base-cherry);
    }

    /* CARD */

    /* BOTTOM INTERFACE */
    #next-card-button {
        width: 400px;
    }

    @media screen and (max-width: 1000px) {
        .card-word-text {
            font-size: 1.3rem;
            margin-bottom: 0.8rem;
        }
    }
</style>

<div id="card-screen">
    <div class="screen-top">
        <div class="container">
            <div class="card-wraper" id="card">
                <div class="front-card">
                    <div class="card text-center">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <p class="card-word-text" id="card-word">
                                <b>Maintain</b>
                            </p>
                            <p class="card-text fs-5" id="sentense">Lorem ipsum dolor sit amet consectetur adipisicing elit exercitationem. </p>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
                <div class="back-card">
                    <div class="card text-center">
                        <div class="card-header">
                            <div id="answer-status">
                                <span>Правильно </span>/ <span>Непрпвильно</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-word-text" id="card-translate">
                                <b>Maintain</b> - поддерживать
                            </p>
                            <p class="card-word-text" id="card-incorrect-chose-translate">
                                <b>Wrong</b> - Неправильный
                                ответ
                            </p>
                            <p class="card-text fs-5" id="sentense-translate">Lorem ipsum dolor sit amet consectetur adipisicing elit exercitationem. </p>
                        </div>
                        <!-- <div class="card-footer">
                            ПОКА не нужен
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="screen-bottom">
        <div class="d-flex justify-content-center my-4">
            <button id="next-card-button" href="#" class="btn btn-primary"><i class="fas fa-forward"
                    aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<script>
    var csrf = '{{csrf_token}}'
    class CardTrainerApi {
        constructor() {
        }
        async getCardData(langDirection, vocabulary_type, level) {
            var url = `{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%url 'card_trainer:get_card'%}`
            var data = {
                lang_direction: langDirection,
                vocabulary_type: vocabulary_type,
                level: level
            }
            console.log(data)
            var response = await fetch(url, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrf,
                },
                body: JSON.stringify(data),
            })
        }
    }
    class Card {
        constructor(cardId, word, translate, langDirection) {
            this.cardId = cardId
            this.word = word
            this.translate = translate
            this.langDirection = langDirection
        }
    }
    class CardView {
        static FLIP_TRANSITION = '1s'
        static FRONT_SIDE = 'front'
        static BACK_SIDE = 'back'

        constructor(elem) {
            this.elem = elem
            this._currentSide = CardView.FRONT_SIDE
            this.frontCard = this.elem.querySelector('.front-card')
            this.backCard = this.elem.querySelector('.back-card')
        }

        set flipTransition(time) {
            console.log(time)
            this.frontCard.style.transition = time
            this.backCard.style.transition = time
        }

        flip(quick = false) {
            if (this._currentSide == CardView.FRONT_SIDE) {
                this.showBack(quick)
            } else {
                this.showFront(quick)
            }
        }

        showBack(quick = false) {
            this._showSide(CardView.BACK_SIDE, quick)
        }
        showFront(quick = false) {
            this._showSide(CardView.FRONT_SIDE, quick)
        }
        _showSide(side, quick = false) {
            if (quick) {
                this.flipTransition = '0s'
            } else {
                this.flipTransition = CardView.FLIP_TRANSITION
            }
            if (side == CardView.FRONT_SIDE) {
                $(this.frontCard).css("transform", "rotateY(0deg)");
                $(this.backCard).css("transform", "rotateY(180deg)");
                this._currentSide = CardView.FRONT_SIDE
            } else if (side == CardView.BACK_SIDE) {
                $(this.frontCard).css("transform", "rotateY(180deg)");
                $(this.backCard).css("transform", "rotateY(0deg)");
                this._currentSide = CardView.BACK_SIDE
            } else {
                alert(`Incorrect card side: ${side}`)
            }
        }
        showNextCard(card) {
            $(this.elem).slideUp(() => {
                this.showFront(true)
            }).slideDown()
        }

        slideUp() {
            $(this.elem).slideUp()
        }
        slideDown() {
            $(this.elem).slideDown()
        }
    }
    class CardTrainer {
        constructor() {

        }
    }
    class StateManager {
        constructor() {
            this.state = {
                currentCard: null,
                answers: [],
                langDirection: null,
                isCorrect: null,
                userAnswer: null,
            };
        }

        setCardData(card, answers, langDirection) {
            this.state.currentCard = card;
            this.state.answers = answers;
            this.state.langDirection = langDirection;
            this.state.userAnswer = null;
            this.state.isCorrect = null;
        }

        setUserAnswer(userAnswer) {
            this.state.userAnswer = userAnswer;
        }

        setIsCorrect(isCorrect) {
            this.state.isCorrect = isCorrect;
        }

        getCurrentCard() {
            return this.state.currentCard;
        }

        getAnswers() {
            return this.state.answers;
        }

        getLangDirection() {
            return this.state.langDirection;
        }

        getAnswerResult() {
            return this.state.isCorrect;
        }

        clear() {
            this.state.currentCard = null;
            this.state.answers = [];
            this.state.langDirection = null;
            this.state.isCorrect = null;
            this.state.userAnswer = null;
        }
    }
    const cardElem = document.getElementById('card')
    const cardView = new CardView(cardElem)
    const cardTrainerApi = new CardTrainerApi()
</script>
{%endblock%}
{%block footer%}

{%endblock%}