{%extends 'base.html'%}
{%load static%}
{%block content%}
<style>
    :root {
        --card-width: 500px;
        --card-height: 300px;

        --card-height-mob: 250px;
    }

    /* SCREEN */
    #card-screen {
        height: calc(100vh - var(--header-height));
        display: flex;
        flex-direction: column;
    }

    .screen-top {
        flex: 66;
        align-items: center;
        display: flex;
    }

    .screen-bottom {
        display: flex;
        justify-content: center;
        background-color: var(--fds-gray-05);
        flex: 34;
        margin-top: auto;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    }

    /* SCREEN */


    /* CARD */
    .front-card,
    .back-card {
        max-width: 100%;
        position: absolute;
        backface-visibility: hidden;
    }

    .back-card {
        transform: rotateY(180deg);
    }

    /* FOR TEST */
    /* .back-card {
        transform: 1;
    }

    .front-card,
    .back-card {
        position: relative;
        transform: rotateY(0deg);
    } */

    /* FOR TEST */

    .card {
        width: var(--card-width);
        height: var(--card-height);
        max-width: 100%;
        background-size: 400px;
        background-image: url('/static/vocabulary/img/card_background.jpg');
        position: relative;
    }

    .card-wraper {
        width: 100%;
        height: var(--card-height);
        position: relative;
        perspective: 1000px;
        display: flex;
        justify-content: center;
    }

    .card-header {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .card-header,
    .card-footer {
        background-color: initial;
        border-bottom: none;
        border-top: none;
        height: 60px;
    }

    .card-header:empty {
        height: 0px !important;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }

    .card-word-text {
        font-size: 1.6rem;
    }

    .back-card .answer-badge {
        font-size: 1rem;
        font-weight: bold;
        position: absolute;
        width: 100%;
        top: 20px;
    }

    .back-card .correct-badge {
        color: var(--base-lime);

    }

    .back-card .wronge-badge {
        color: var(--base-cherry);

    }

    /* CARD */

    /* BOTTOM INTERFACE */
    #control-buttons {
        height: 100%;
        width: 500px;
        max-width: 100%;
        padding: 0 10px;
    }

    #action-buttons {
        width: 100%;
    }

    #action-buttons button {
        width: 100%;
    }

    #answers-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }


    /* #next-card-button {
        width: 100%;
    } */

    @media screen and (max-width: 1000px) {
        .card-word-text {
            font-size: 1.3rem;
            margin-bottom: 0.8rem;
        }

        .card-wraper {
            height: var(--card-height-mob);
        }

        .card {
            height: var(--card-height-mob);
        }
    }
</style>

<div id="card-screen">
    <div class="screen-top">
        <div class="container">
            <div class="card-wraper" id="card" style="display: none;">
                <div class="front-card">
                    <div class="card text-center">
                        <!-- <div class="card-header">
                        </div> -->
                        <div class="card-body">
                            <p class="card-word-text" id="card-word">
                                <b>Maintain</b>
                            </p>
                            <p class="card-text fs-5" id="sentense">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit exercitationem. </p>
                        </div>
                        <!-- <div class="card-footer">
                        </div> -->
                    </div>
                </div>
                <div class="back-card">
                    <div class="card text-center">
                        <!-- <div class="card-header">
                            <span class="answer-badge correct-badge">Правильно</span>
                            <span class="answer-badge wronge-badge">Неправильно</span>
                        </div> -->
                        <span class="answer-badge correct-badge">Правильно</span>
                        <span class="answer-badge wronge-badge">Неправильно</span>
                        <div class="card-body">
                            <p class="card-word-text" id="card-word-translate">
                                <b>Maintain</b> - поддерживать
                            </p>
                            <p class="card-word-text" id="card-incorrect-answer" style="display: none;">
                                <b>Wrong</b> - Неправильный
                                ответ
                            </p>
                            <p class="card-text fs-5" id="sentense-translate">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit exercitationem. </p>
                        </div>
                        <!-- <div class="card-footer">
                            ПОКА не нужен
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="screen-bottom">
        <!-- CARD TRAINER CONTROL BYUTTONS -->
        <div id="control-buttons" class="d-flex flex-column align-items-center justify-content-between">
            <div id="answers-buttons" class="my-4">
                {%for word in test_words%}
                <!-- <button class="btn btn-grey ">
                    <b>{{word.ru}}</b>
                </button> -->
                {%endfor%}

            </div>
            <div id="action-buttons">
                <div class="row gx-2">
                    <div class="col">
                        <button class="btn btn-secondary" id="dont-know-btn">Не знаю</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary" id="5050-btn">50 на 50</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button id="next-card-button" href="#" class="btn btn-primary my-2"><i class="fas fa-forward"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var csrf = '{{csrf_token}}'
    function getRandomElementsFromArray(arr, num) {
        if (typeof num !== 'number') {
            console.error('Incorrect random elems count');
            return [];
        } else if (num < 0) {
            console.error('Num must be positive');
            return [];
        } else if (num > arr.length) {
            console.error('Num must be less than array length');
            return [];
        }

        let result = [];
        let tempArr = [...arr];

        for (let i = 0; i < num; i++) {
            let randomIndex = Math.floor(Math.random() * tempArr.length);
            result.push(tempArr[randomIndex]);
            tempArr.splice(randomIndex, 1);
        }

        return result;
    }
    class CardTrainerApi {
        constructor() {
        }
        async getCardData(langDirection, vocabulary_type, level) {
            var url = `{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%url 'card_trainer:get_card'%}`
            var data = {
                lang_direction: langDirection,
                vocabulary_type: vocabulary_type,
                level: level
            }
            var response = await fetch(url, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrf,
                },
                body: JSON.stringify(data),
            })
            if (response.ok) {
                return await response.json()
            } else {
                await alert(response.json)
            }
        }
    }
    class Card {
        constructor(cardId, word, translation, langDirection) {
            this.cardId = cardId
            this.word = word
            this.translate = translation
            this.langDirection = langDirection
        }

        static dataToCard(cardData) {
            return new Card(
                cardData.id,
                cardData.word,
                cardData.translation,
                cardData.lang_direction,
            )
        }
    }
    class CardView {
        static FLIP_TRANSITION = '1s'
        static FRONT_SIDE = 'front'
        static BACK_SIDE = 'back'

        constructor(elem) {
            this.elem = elem
            this._currentSide = CardView.FRONT_SIDE
            this.frontCard = this.elem.querySelector('.front-card')
            this.backCard = this.elem.querySelector('.back-card')

            this.cardWord = document.getElementById('card-word')
            this.cardWordtranslate = document.getElementById('card-word-translate')
            this.cardIncorrectAnswer = document.getElementById('card-incorrect-answer')

            this.sentense = document.getElementById('sentense')
            this.sentenseTranslate = document.getElementById('sentense-translate')

            this.correctBadge = document.querySelector('.correct-badge')
            this.wrongeBadge = document.querySelector('.wronge-badge')
        }

        set flipTransition(time) {
            console.log(time)
            this.frontCard.style.transition = time
            this.backCard.style.transition = time
        }

        flip(quick = false) {
            if (this._currentSide == CardView.FRONT_SIDE) {
                this.showBack(quick)
            } else {
                this.showFront(quick)
            }
        }

        showBack(quick = false) {
            this._showSide(CardView.BACK_SIDE, quick)
        }
        showFront(quick = false) {
            this._showSide(CardView.FRONT_SIDE, quick)
        }
        _showSide(side, quick = false) {
            if (quick) {
                this.flipTransition = '0s'
            } else {
                this.flipTransition = CardView.FLIP_TRANSITION
            }
            if (side == CardView.FRONT_SIDE) {
                $(this.frontCard).css("transform", "rotateY(0deg)");
                $(this.backCard).css("transform", "rotateY(180deg)");
                this._currentSide = CardView.FRONT_SIDE
            } else if (side == CardView.BACK_SIDE) {
                $(this.frontCard).css("transform", "rotateY(180deg)");
                $(this.backCard).css("transform", "rotateY(0deg)");
                this._currentSide = CardView.BACK_SIDE
            } else {
                alert(`Incorrect card side: ${side}`)
            }
        }
        showNextCard(card) {
            $(this.elem).slideUp(() => {
                this.showFront(true)
                this.setCard(card)
            }).slideDown()
        }

        // hide() {
        //     $(this.elem).slideUp()
        // }
        hide() {
            return new Promise(resolve => {
                $(this.elem).slideUp(() => resolve());
            });
        }
        show() {
            $(this.elem).slideDown()
        }

        setCard(card) {
            this.cardWord.innerHTML = `<b>${card.word}</b>`
            this.cardWordtranslate.innerHTML = `<b>${card.word}</b> - ${card.translate}`
            this.cardIncorrectAnswer.style.display = 'none'
            this.correctBadge.style.display = 'none'
            this.wrongeBadge.style.display = 'none'
        }

        setCorrectAnswer() {
            this.correctBadge.style.display = 'block'
            this.wrongeBadge.style.display = 'none'
        }

        setWrongAnswer(wrongeCard) {
            this.cardIncorrectAnswer.innerHTML = `<b>${wrongeCard.word}</b> - ${wrongeCard.translate}`

            this.cardIncorrectAnswer.style.display = 'block'
            this.correctBadge.style.display = 'none'
            this.wrongeBadge.style.display = 'block'
        }

        setSentense(sentense) {
            this.sentense.innerHTML = sentense.text
            this.sentenseTranslate.innerHTML = sentense.translate
        }

        clean() {
            //
        }
    }
    class CardTrainerButtonsView {
        constructor(elem) {
            this.elem = elem
            this.answersButtonsContainer = document.getElementById('answers-buttons')
            this.nextCardButton = document.getElementById('next-card-button')
            this.dontKnowButton = document.getElementById('dont-know-btn')
            this.button5050 = document.getElementById('5050-btn')
            this._answerClickCallback = null

            this.lockNextButton()
        }

        set nextCardClickEventCallback(callback) {
            this.nextCardButton.addEventListener('click', callback)
        }

        set answerClickEventCallback(callback) {
            this._answerClickCallback = callback
        }

        set button5050ClickEventCallback(callback) {
            this.button5050.addEventListener('click', callback)
        }

        set dontKnowClickEventCallBack(callback) {
            this.dontKnowButton.addEventListener('click', callback)
        }

        get answersButtons() {
            return this.answersButtonsContainer.querySelectorAll('button')
        }

        addAnswersButtons(answers) { // Cards list
            if (this._answerClickCallback != null) {
                answers.forEach(card => {
                    console.log('CARD')
                    if (!(card instanceof Card)) {
                        throw new Error('Answers must be Card instatce')
                    }
                    var button = document.createElement('button')
                    button.classList.add('btn')
                    button.classList.add('btn-grey')
                    button.dataset.cardId = card.cardId
                    button.textContent = card.word + ' ' + card.cardId
                    button.style.display = 'none'
                    button.addEventListener('click', this._answerClickCallback)
                    this.answersButtonsContainer.append(button)
                });
                $(this.answersButtons).fadeOut(0)
                $(this.answersButtons).fadeIn()
                
            } else {
                alert('No callback for answer button')
            }
        }
        _removeAnswers() {
            $(this.answersButtons).fadeOut(() => {
                this.answersButtonsContainer.innerHTML = ''
            })

        }

        hideAnswerButtonsByIds(ids) { // list
            ids.forEach(id => {
                var button = this.getAnswerButtonById(id)
                button.remove()
            })
        }

        getAnswerButtonById(cardId) {
            return this.answersButtonsContainer.querySelector(`[data-card-id="${cardId}"]`)
        }

        disable5050button() {
            this._disableButton(this.button5050)
        }

        unlockNextButton() {
            this._disableButton(this.dontKnowButton)
            this._disableButton(this.button5050)
            this._enableButton(this.nextCardButton)
        }

        lockNextButton() {
            this._enableButton(this.dontKnowButton)
            this._enableButton(this.button5050)
            this._disableButton(this.nextCardButton)
        }

        _disableButton(button) {
            button.disabled = true
            button.classList.remove('btn-primary')
            button.classList.add('btn-secondary')
        }
        _enableButton(button) {
            button.disabled = false
            button.classList.remove('btn-secondary')
            button.classList.add('btn-primary')
        }
    }
    class CardTrainer {
        constructor(state, buttonView, cardView, cardsApi) {
            this.state = state
            this.cardsApi = cardsApi
            this.buttonView = buttonView
            this.cardView = cardView
            this._nextCardData = null
        }


        async loadCardData() {
            if (this.state.nextCardData) {
                alert(`not empty next card: ${this.state.nextCardData}`)
            }
            var cardData = await this.cardsApi.getCardData('en_ru', 'default_vocabulary', 'A1')
            this.state.nextCardData = cardData
        }

        async getCardData() {
            if (this.state.nextCardData == null) {
                console.info('Load Card')
                await this.loadCardData()
            } else {
                console.info('GET EXISTS Card')
            }
            var cardData = this.state.nextCardData
            this.state.nextCardData = null
            return cardData
        }

        async showCard() {
            var cardData = await this.getCardData()
            var card = Card.dataToCard(cardData.card)
            var answersCards = []
            cardData.answers.forEach(answerCardData => {
                var answerCard = Card.dataToCard(answerCardData)
                answersCards.push(answerCard)
            })
            this.state.setCardData(card, answersCards, cardData.lang_direction)
            this.cardView.setCard(card)
            this.cardView.show()
            this.buttonView.addAnswersButtons(answersCards)
            this.buttonView.lockNextButton()

        }

        // nextCard() {  /// как вариант сделать просто так
        //     $(this.cardView.elem).slideUp(() => {
        //         this.cardView.showFront(true);
        //         this.showCard();
        //     });
        // }

        async nextCard() {
            await this.cardView.hide()
            this.cardView.showFront(true)
            this.showCard()
        }

        handle5050() {
            if (!this.state.getIsUse5050()) {
                var answersIds = []
                var answers = this.state.getAnswers()
                var currentCard = this.state.getCurrentCard()
                answers.forEach(card => {
                    if (card.cardId != currentCard.cardId) {
                        answersIds.push(card.cardId)
                    }
                })
                var answersIdsTodelete = getRandomElementsFromArray(answersIds, answersIds.length - 1)
                this.buttonView.hideAnswerButtonsByIds(answersIdsTodelete)
                this.buttonView.disable5050button()
                this.state.setIsUse5050Used()
            }
        }

        hanleDontKnow() {
            this.cardView.showBack()
            this.buttonView.unlockNextButton()
            this.buttonView._removeAnswers()
        }

        getcardById(cardId) {
            var answers = this.state.getAnswers()
            var resultCard = null
            answers.forEach(card => {
                if (card.cardId == cardId) {
                    return resultCard = card
                }
            })
            if (resultCard) {
                return resultCard
            }
            throw new Error(`Cant find card in state with id: ${cardId}`)
        }

        handleUserAnswer(event) {
            this.loadCardData()
            var answerCardBlock = event.currentTarget
            var answerCardId = answerCardBlock.dataset.cardId
            var answerCardcard = this.getcardById(answerCardId)
            this.state.setUserAnswer(answerCardcard)
            if (answerCardcard.cardId == this.state.getCurrentCard().cardId) {
                this.state.setIsCorrect(true)
                this.cardView.setCorrectAnswer()
            } else {
                this.state.setIsCorrect(false)
                this.cardView.setWrongAnswer(answerCardcard)
            }
            this.cardView.showBack()
            this.buttonView.unlockNextButton()
            this.buttonView._removeAnswers()
        }


    }
    class StateManager {
        constructor() {
            this.nextCardData = null
            this.state = {
                currentCard: null,
                answers: [],
                langDirection: null,
                isCorrect: null,
                userAnswer: null,
                isUse5050: false,
            };
        }

        setIsUse5050Used() {
            this.state.isUse5050 = true
        }

        getIsUse5050() {
            return this.state.isUse5050
        }

        setCardData(card, answers, langDirection) {
            this.clear()
            this.state.currentCard = card;
            this.state.answers = answers;
            this.state.langDirection = langDirection;
        }

        setUserAnswer(userAnswer) {
            this.state.userAnswer = userAnswer;
        }

        setIsCorrect(isCorrect) {
            this.state.isCorrect = isCorrect;
        }

        setAnswers(answers) {
            this.state.answers = answers;
        }

        getCurrentCard() {
            return this.state.currentCard;
        }

        getAnswers() {
            return this.state.answers;
        }

        getLangDirection() {
            return this.state.langDirection;
        }

        getAnswerResult() {
            return this.state.isCorrect;
        }

        clear() {
            this.state.currentCard = null;
            this.state.answers = [];
            this.state.langDirection = null;
            this.state.isCorrect = null;
            this.state.userAnswer = null;
            this.state.isUse5050 = null;
        }
    }
    const cardElem = document.getElementById('card')
    const cardView = new CardView(cardElem)
    const controlButtonsBlock = document.getElementById('control-buttons')
    const cardTrainerApi = new CardTrainerApi()
    const buttonsView = new CardTrainerButtonsView(controlButtonsBlock)
    const trainerState = new StateManager()
    const cardTrainer = new CardTrainer(trainerState, buttonsView, cardView, cardTrainerApi)

    buttonsView.button5050ClickEventCallback = cardTrainer.handle5050.bind(cardTrainer)
    buttonsView.answerClickEventCallback = cardTrainer.handleUserAnswer.bind(cardTrainer)
    buttonsView.dontKnowClickEventCallBack = cardTrainer.hanleDontKnow.bind(cardTrainer)
    buttonsView.nextCardClickEventCallback = cardTrainer.nextCard.bind(cardTrainer) /// ask about probkems with event async func

    cardTrainer.showCard()
    // var answers = [
    //     // {%for word in test_words%}
    //     new Card({{ word.id }} , '{{word.ru}}', '{{word.en}}'),
    //     // {%endfor%}
    // ]
    // cardView.setCard(answers[0])
    // trainerState.setCardData(answers[0])
    // trainerState.setAnswers(answers)
    // buttonsView.addAnswersButtons(answers)
</script>
{%endblock%}
{%block footer%}

{%endblock%}