footer{
padding-top: 32px;
 display: flex;
 justify-content: center;   
 color: var(--secondary-text);
 background-color: #F0F2F5;
}
.footer-container{
    width: 100%;
    max-width: 840px;
}
footer hr{
    display: block;
    margin: 24px 0;
}
.footer-end{
    display: flex;
    justify-content: space-between;
}
.footer-end .text{
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}
.footer-end img{
    width: 100px;
    height: 19.38px;
    margin-left: -10px;
}

.footer-link{
    color: var(--secondary-text);
    font-size: 0.9375rem;
    line-height: 1.3333;
    font-weight: 400;
}
.footer-link:hover{
    text-decoration: none;
    color: var(--secondary-text);
}
.prefooter{
    display: flex;
    flex-wrap: wrap;
}
.footer-link-wrap{
    min-width: 270px;
    height: 44px;
}

@media screen and (max-width: 1000px) {
    .footer-container{
        padding: var(--mobile-padding);
    }
    footer hr{
        margin-left:-18px;
        margin-right:-18px;
    }
    .footer-end img{
        width: 140px;
        height: 27.13px;
    }
    .footer-link-wrap{
        
        height: 36px;
    }
}
