#main-content {
  display: flex;
  justify-content: space-between;
}
#main-content .accordion-header{
  margin: 0;
}
#main-content .accordion-item{
  background-color: white;
  padding: 0 0;
}
#main-content .accordion-item .icon-wrap{
  background-color: inherit;
  margin-right: -20px; 
  width: 0;
  height: 0;
}

#main-content .accordion-button:not(.collapsed) .icon-wrap{
  background-color: inherit;
  rotate: 180deg;
}
#main-content .accordion-item button{
  width: calc(100% + 40px);
  height: 44px;
  margin-left: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black !important;
  border-bottom: none;
}
#main-content .accordion-button:not(.collapsed){
  border-radius: 8px;
}
#main-content .accordion-button:hover:not(.collapsed){
  background-color: #DDE7F2;
}

#main-content .accordion-item button:hover{
  background-color: #F2F2F2;
  
}
#main-content .accordion-item button:focus{
  border: none;
  box-shadow: none;
}
#main-content .accordion-item{
  
}

.accordion-button::after{
  display: none;
}
/* #main-content h1{
  margin: 20px 0;
  margin-top: 30px;
} */
#main-content  h2{
  display: flex;
  align-items: center;
  margin: 18px 0;
  margin-top: 27px;
}
#main-content   h3{
  margin: 16px 0;
  margin-top: 24px;
}
#main-content h4{
  margin: 14px 0;
  margin-top: 21px;
}
.content {
  display: flex;
  flex-direction: column;
}
.content-center {
  display: flex;
  justify-content: center;
}
.content-inner {
  width: 100%;
  max-width: 768px;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 48px;
}
#block-img{
  width: 35px;
  margin-right: 10px;
}
.content-header {
  display: flex;
  justify-content: center;
  background-repeat: repeat-x;
  background-image: linear-gradient(
    to bottom,
    var(--base-blue),
    30%,
    var(--surface-background)
  );
}
.content-header-container {
  width: 100%;
  max-width: 800px;
  background-color: #1877f2;
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  padding-bottom: 0;
  gap: 30px;
}
.content-header-container img {
  margin-top: 20px;
  width: 675px;
  max-width: 100%;
}
.content-header-container h1 {
  width: 100%;
  color: white;
  text-align: left;
  font-size: 1.75rem;
  font-weight: 700;
  padding-bottom: 26px;
}

#popular-articles {
  padding: 48px 0;
  display: flex;
  flex-direction: column;
}
#popular-articles a{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#popular-articles .icon-wrap{
  display: none;
}
#popular-articles .arrow-block{
  display: none;
}
#popular-articles .title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}
#popular-articles a {
  margin: 4px 0;
}

#popular-topics {
    padding: 48px 0;
}
#popular-topics .title {
  margin-bottom: 10px;
}
#popular-topics .cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}
#popular-topics .card-wrap {
  width: 33%;
  padding: 8px;
}
#popular-topics .card {
  border: none;
  background-color: #f0f2f5;
  border-radius: 8px;
  cursor: pointer;
  padding: 32px 16px;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 282px;
  display: flex;
}
#popular-topics .card .arrow-block{
  display: none;
}
#popular-topics .card:hover {
  background-color: #e4e6e9;
}
#popular-topics .img-wrap{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 16px;
}
#popular-topics img{
    width: 100px;
}
#popular-topics .title{
    margin: 5px 0;
}
#popular-topics .description{
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: var(--secondary-text);
    margin-bottom: 0;
}
.apeal-list li{
  margin: 16px 20px;
}
.apeal-list li p{
  /* margin-bottom: 0.5rem; */
}
.apeal-list ul{
  list-style: decimal;
  font-size: 16px;
}
#start{
  width: 100%;
  height: 50px;
  border-radius: 16px;
  font-size: 1.25rem;
  margin-bottom: 40px;
}
#start:active{
  scale: 1;
}

#create-word-form{
  width: 520px;
  max-width: 100%;
}
@media screen and (max-width: 1000px) {
  .content-header-container {
    padding: 12px;
  }
  .content-header-container h1{
    padding-bottom: 12px;
  }
  #main-content hr{
    display: none;
  }
 
    .content-header{
        margin: 0 4px;
    }

    /* OPTIONAL */
    .content-header-container{
        border-end-start-radius: 0px;
        border-end-end-radius: 0px;
    }
    .content-header-container img {
        /* display: none; */
    }  

    #popular-articles{
      margin-top: 50px;
      box-sizing: border-box;
      box-shadow: 0 2px 12px var(--shadow-2);
      border-radius: max(0px, min(var(--card-corner-radius), calc((100vw - 4px - 100%) * 9999))) / var(--card-corner-radius);
      padding: 18px 24px;
    }
    
    #popular-articles .icon-wrap{
      display: flex;
    }
    #popular-articles a{
      color: black;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba(145, 145, 145, 0.4);
      padding: 8px 0;
    }
    #popular-articles .arrow-block{
      display: block;
    }
    #popular-articles a:last-child{
      border-bottom-width: 0;
    }


    /* CARDS */

    #popular-topics .card-wrap {
        width: 100%;
    }
    #popular-topics .card{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-height: 28px;
        padding: 14px 16px;
    }
    #popular-topics .card .img-wrap{
        margin: 0; 
    }
    #popular-topics .card img{
        width: 48px;
        height: 48px;
    }
    #popular-topics .card .title{
        padding-left: 12px;
        width: 100%;
    }
    #popular-topics .description{
        display: none;
    }

    #popular-topics .card .arrow-block{
      display: block;
    }

    #main-content .accordion-item button{
      margin-right: -20px;
    }
    #main-content .accordion-item .icon-wrap{
      margin-right: 0;
    }
}

/* FOTER */
footer{
  padding-top: 32px;
   display: flex;
   justify-content: center;   
   color: var(--secondary-text);
   background-color: #F0F2F5;
  }
  .footer-container{
      width: 100%;
      max-width: 840px;
  }
  footer hr{
      display: block;
      margin: 24px 0;
  }
  .footer-end{
      display: flex;
      justify-content: space-between;
  }
  .footer-end .text{
      font-size: 13px;
      line-height: 16px;
      font-weight: 400;
  }
  .footer-end img{
      width: 100px;
      height: 19.38px;
      margin-left: -10px;
  }
  
  .footer-link{
      color: var(--secondary-text);
      font-size: 0.9375rem;
      line-height: 1.3333;
      font-weight: 400;
  }
  .footer-link:hover{
      text-decoration: none;
      color: var(--secondary-text);
  }
  .prefooter{
      display: flex;
      flex-wrap: wrap;
  }
  .footer-link-wrap{
      min-width: 270px;
      height: 44px;
  }
  
  @media screen and (max-width: 1000px) {
      .footer-container{
          padding: var(--mobile-padding);
      }
      footer hr{
          margin-left:-18px;
          margin-right:-18px;
      }
      .footer-end img{
          width: 140px;
          height: 27.13px;
      }
      .footer-link-wrap{
          
          height: 36px;
      }
  }

  
  /* HEADER */


.header-logo-wrap {
  display: flex;
  align-items: center;
}
.header-logo-text {
  margin-top: 2px;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 1.1765;
}
.header-logo-wrap img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#header-tools {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

#header-settings {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  position: relative;
  cursor: pointer;
}

#header-settings.active {
  background-color: #DBE7F2;
  color: rgb(24, 118, 242);
}
#header-settings.active:hover {
  background-color: #DBE7F2;
}
#header-settings:active{
  scale: .96;
}

#header-settings-window{
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: calc(var(--header-height) - 2px);
  right: var(--header-padding);
  border-radius: 8px;
  padding: 8px;
  box-shadow: var(--card-box-shadow);
  width: 360px;
  z-index: 5;
}
#header-settings-window .item-link{
  
}
#header-settings-window .item-link p{
  font-size: 0.9375rem;
  font-weight: 500;
}
.link-group{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  padding-bottom: 2px;
  align-items: center;
}
.link-group i{
 filter: var(--filter-secondary-icon); 
 margin-bottom: -1px;
}
.link-group a, .link-group p{
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}
.link-group p{
  color: var(--secondary-text);
  margin-bottom: 0;
}

#addSettingsModal .modal-dialog {
  position: absolute;
  right: var(--header-padding) !important;
  top: calc(var(--header-height) - 2px);
  margin: 0;
}

#header-search {
  display: flex;
  height: 36px;
  width: 284px;
  align-items: center;
  border-radius: 18px;
  background-color: #f0f2f5;
  padding: 0 10px;
  justify-content: flex-start;
}

#header-search input {
  background-color: inherit;
  border: none;
  margin-left: 10px;
  font-size: 0.9375rem;
  height: 36px;
}
#header-search input:focus{
  border: none !important;
  outline: none !important;
}
#header-search input::placeholder {
  color: var(--fds-dark-mode-gray-70);
}
#header-search input:focus-visible {
  outline: none;
}
#header-search svg {
  width: 16px;
  height: 16px;
  color: #65676b;
}

#open-close-left-bar-mobile{
  cursor: pointer;
}
#open-close-left-bar-mobile i{
  font-size: 16px;
}
@media screen and (min-width: 1000px) {
  #open-close-left-bar-mobile{
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  #header-search{
    display: none;
  }
  #lang-button-temp{
    display: none;
  }
  #open-close-left-bar-mobile{
    display: block;
  }
  #header-settings-window{
    right: 0;
    width: 100%;
  }
}

/* LEFT BAR */
#left-bar {
  width: 360px;
  min-width: 360px;
  box-shadow: 4px 0 4px -2px var(--media-inner-border);
}
.item-link i[class^=fa]{
  font-size: 20px;
}

.left-bar-inner {
  margin: 6px 10px;
}

#accordion .item-link .text-block {
  align-items: center;
}
#accordion .item-link .text-block p {
  margin-bottom: 0;
}

.item-link.active {
  background-color: var(--hosted-view-selected-state);
}
.item-link.active:hover {
  background-color: var(--hosted-view-selected-state);
}

.item-link.active i {
  filter: var(--filter-always-white);
}
.item-link.active .icon-wrap {
  background-color: var(--base-blue);
}

#left-bar.open {
  display: flex;
  width: 100%;
}
#left-bar.open #accordion {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  #left-bar {
    display: none;
  }
}
