:root {
    --circle-size: 50px;
    --circle-margin: calc(var(--circle-size) / 2 * -1);
    --progres-top: calc(var(--circle-size) / 2 - 8px)
}

.custom-progress {
    position: relative;
}

.progress-steps {
    display: flex;
    justify-content: space-between;
    margin: 0 var(--circle-margin);
}

.step {
    width: var(--circle-size);
    height: var(--circle-size);
    background-color: var(--fds-gray-30);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px white solid;
    z-index: 2;
    color: white;
}

.step.active {
    background-color: var(--base-blue);
}

.progress {
    position: absolute;
    top: var(--progres-top);
    width: 100%;
}


@media screen and (max-width: 1000px) {
    :root {
        --circle-size: 36px;
    }
    .step{
        border: 3px white solid;
    }
  }