{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Help Center</title>

    <!-- CSS -->
    <link rel="shortcut icon" href="/ico.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/left-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/bs_form.css' %}">

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--ICONS-->
    <script src="https://kit.fontawesome.com/da43c2ea11.js" crossorigin="anonymous"></script>

    {%block head%}
    {%endblock%}
</head>

<body>
    <div id="header-settings-window" style="display: none;">
        <div class="items">
            <div class="item-link ">
                <div class="item-inner">
                    <div class="item-link-content">
                        <div class="icon-wrap">
                            <i class="_img_pack_4" style="background-position:0px -447px"></i>
                        </div>
                        <div class="text-block">
                            <p>Help & support</p>
                        </div>
                    </div>
                    <div class="arrow-block">
                        <i class="_img_pack_4 w-24" style="background-position: 0px -108px"></i>
                    </div>
                </div>
            </div>
            <div class="item-link ">
                <div class="item-inner">
                    <div class="item-link-content">
                        <div class="icon-wrap">
                            <i class="_img_pack_7" style="background-position:0px -176px"></i>
                        </div>
                        <div class="text-block">
                            <p>Display</p>
                        </div>
                    </div>
                    <div class="arrow-block">
                        <i class="_img_pack_4 w-24" style="background-position: 0px -108px"></i>
                    </div>
                </div>
            </div>
            {%if user.is_authenticated%}
            <div class="item-link " data-href="{%url 'users:logout'%}">
                <div class="item-inner">
                    <div class="item-link-content">
                        <div class="icon-wrap">
                            <i class="_img_pack_7" style="background-position:0px -155px"></i>
                        </div>
                        <div class="text-block">
                            <p>Log Out</p>{{user}}
                        </div>
                    </div>
                </div>
            </div>
            {%else%}
            <div class="item-link " data-href="{%url 'users:login'%}">
                <div class="item-inner">
                    <div class="item-link-content">
                        <div class="icon-wrap">
                            <i class="_img_pack_7" style="background-position:0px -155px"></i>
                        </div>
                        <div class="text-block">
                            <p>Login</p>
                        </div>
                    </div>
                </div>
            </div>
            {%endif%}

        </div>
        <div class="link-group">
            <a href="#" class="grey">Privacy</a><span class="dot"><span></span></span>
            <a href="#" class="grey">Terms</a><span class="dot"><span></span></span>
            <a href="#" class="grey">Advertising</a><span class="dot"><span></span></span>
            <a href="#" class="grey">Ad Choices
                <i class="_img_pack_7 w-12" style="background-position:0px -239px"></i>

            </a><span class="dot"><span></span></span>
            <a href="#" class="grey">Cookies</a><span class="dot"><span></span></span>
            <a href="#" class="grey">More</a><span class="dot"><span></span></span>
            <p>Meta © 2024</p>
        </div>
    </div>

    <header>
        <div class="header-item">
            <div class="header-logo-wrap" data-href="{%url 'index'%}">
                <img src="{% static 'img/logo.png' %}" alt="">
                <span class="header-logo-text">Английский по карточкам</span>
            </div>
        </div>
        <div class="header-item" id="header-search-block">
            <div id="header-tools">
                <div id="header-search">
                    <svg viewBox="0 0 16 16" width="16" height="16" fill="currentColor"
                        class="x19dipnz x1lliihq x1k90msu x2h7rmj x1qfuztq" style="--color: var(--secondary-icon);">
                        <g fill-rule="evenodd" transform="translate(-448 -544)">
                            <g fill-rule="nonzero">
                                <path
                                    d="M10.743 2.257a6 6 0 1 1-8.485 8.486 6 6 0 0 1 8.485-8.486zm-1.06 1.06a4.5 4.5 0 1 0-6.365 6.364 4.5 4.5 0 0 0 6.364-6.363z"
                                    transform="translate(448 544)"></path>
                                <path
                                    d="M10.39 8.75a2.94 2.94 0 0 0-.199.432c-.155.417-.23.849-.172 1.284.055.415.232.794.54 1.103a.75.75 0 0 0 1.112-1.004l-.051-.057a.39.39 0 0 1-.114-.24c-.021-.155.014-.356.09-.563.031-.081.06-.145.08-.182l.012-.022a.75.75 0 1 0-1.299-.752z"
                                    transform="translate(448 544)"></path>
                                <path
                                    d="M9.557 11.659c.038-.018.09-.04.15-.064.207-.077.408-.112.562-.092.08.01.143.034.198.077l.041.036a.75.75 0 0 0 1.06-1.06 1.881 1.881 0 0 0-1.103-.54c-.435-.058-.867.018-1.284.175-.189.07-.336.143-.433.2a.75.75 0 0 0 .624 1.356l.066-.027.12-.061z"
                                    transform="translate(448 544)"></path>
                                <path
                                    d="m13.463 15.142-.04-.044-3.574-4.192c-.599-.703.355-1.656 1.058-1.057l4.191 3.574.044.04c.058.059.122.137.182.24.249.425.249.96-.154 1.41l-.057.057c-.45.403-.986.403-1.411.154a1.182 1.182 0 0 1-.24-.182zm.617-.616.444-.444a.31.31 0 0 0-.063-.052c-.093-.055-.263-.055-.35.024l.208.232.207-.206.006.007-.22.257-.026-.024.033-.034.025.027-.257.22-.007-.007zm-.027-.415c-.078.088-.078.257-.023.35a.31.31 0 0 0 .051.063l.205-.204-.233-.209z"
                                    transform="translate(448 544)"></path>
                            </g>
                        </g>
                    </svg>
                    <input type="text" placeholder="Search help articles…">
                </div>
                <button class="btn-grey btn-large">
                    <h3>English (US)</h3>
                </button>
                <div id="header-settings" class="grey-hover">
                    <svg viewBox="0 0 20 20" width="20" height="20" fill="currentColor"
                        class="x19dipnz x1lliihq x1k90msu x2h7rmj x1qfuztq" style="--color: var(--primary-icon);">
                        <path
                            d="M10 14a1 1 0 0 1-.755-.349L5.329 9.182a1.367 1.367 0 0 1-.205-1.46A1.184 1.184 0 0 1 6.2 7h7.6a1.18 1.18 0 0 1 1.074.721 1.357 1.357 0 0 1-.2 1.457l-3.918 4.473A1 1 0 0 1 10 14z">
                        </path>
                    </svg>

                </div>
            </div>
        </div>
        <div class="header-item " id="open-close-left-bar-mobile">
            <div class="round-button-wrap">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>
    <div id="main">

        <div id="left-bar">

            <div class="left-bar-inner accordion" id="accordion">
                <div class="accordion-item">
                    <div class="item-link collapsed" data-bs-toggle="collapse" data-bs-target="#a-3"
                        aria-expanded="true" aria-controls="a-3">
                        <div class="item-inner">
                            <div class="item-link-content">
                                <div class="icon-wrap">
                                    <i class="_img_pack_3" style="background-position: 0px -733px;"></i>
                                </div>
                                <div class="text-block">
                                    <h4>Privacy, Safety and Security<!--{{text_tag}}-->
                                    </h4>
                                </div>
                            </div>
                            <div class="arrow-block" style="display: flex">
                                <i class="_img_pack_5 w-24" style="background-position: 0 -1476px;"></i>
                            </div>
                        </div>
                    </div>
                    <div id="a-3" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordion">
                        <div class="accordion-body 123123123">
                            <div class="item-link ">
                                <div class="item-inner">
                                    <div class="item-link-content">
                                        <div class="icon-wrap">
                                            <i class="_img_pack_3" style="background-position: 0px -733px;"></i>
                                        </div>
                                        <div class="text-block">
                                            <p>Your Privacy<!--{{text_tag}}-->
                                            </p>
                                        </div>
                                    </div>
                                    <div class="arrow-block" style="display: flex">
                                        <i class="_img_pack_5 w-24" style="background-position: 0 -1476px;"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="item-link ">
                                <div class="item-inner">
                                    <div class="item-link-content">
                                        <div class="icon-wrap">
                                            <i class="_img_pack_6" style="background-position: 0px -469px;"></i>
                                        </div>
                                        <div class="text-block">
                                            <p>Staying Safe<!--{{text_tag}}-->
                                            </p>
                                        </div>
                                    </div>
                                    <div class="arrow-block" style="display: flex">
                                        <i class="_img_pack_5 w-24" style="background-position: 0 -1476px;"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="item-link ">
                                <div class="item-inner">
                                    <div class="item-link-content">
                                        <div class="icon-wrap">
                                            <i class="_img_pack_6" style="background-position: 0px -679px;"></i>
                                        </div>
                                        <div class="text-block">
                                            <p>Keeping Your Account Secure<!--{{text_tag}}-->
                                            </p>
                                        </div>
                                    </div>
                                    <div class="arrow-block" style="display: flex">
                                        <i class="_img_pack_5 w-24" style="background-position: 0 -1476px;"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="item-link ">
                                <div class="item-inner">
                                    <div class="item-link-content">
                                        <div class="icon-wrap">
                                            <i class="_img_pack_2" style="background-position: 0px -693px;"></i>
                                        </div>
                                        <div class="text-block">
                                            <p>Shopping Safety<!--{{text_tag}}-->
                                            </p>
                                        </div>
                                    </div>
                                    <div class="arrow-block" style="display: flex">
                                        <i class="_img_pack_5 w-24" style="background-position: 0 -1476px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-link ">
                    <div class="item-inner">
                        <div class="item-link-content">
                            <div class="icon-wrap">
                                <i class="_img_pack_2" style="background-position: 0px -693px;"></i>
                            </div>
                            <div class="text-block">
                                <h4>Shopping Safety</h4>
                            </div>
                        </div>
                    </div>
                </div>
                {%if user.is_authenticated%}
                <div class="item-link " data-href="{%url 'vocabulary:word_create'%}">
                    <div class="item-inner">
                        <div class="item-link-content">
                            <div class="icon-wrap">
                                <i class="fa-solid fa-square-plus"></i>
                            </div>
                            <div class="text-block">
                                <h4>Добавить новое слово</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-link " data-href="{%url 'vocabulary:user_vocabulary'%}">
                    <div class="item-inner">
                        <div class="item-link-content">
                            <div class="icon-wrap">
                                <i class="fa-solid fa-book"></i>
                            </div>
                            <div class="text-block">
                                <h4>Мой словарь</h4>
                            </div>
                        </div>
                    </div>
                </div>
                {%endif%}
            </div>
        </div>
        <div id="main-content" class="w-full">

            <div id="main-content-header">
                {%block content%}
                {%endblock%}
            </div>
            <footer class="w-full">
                <div class="footer-container">
                    <div class="prefooter">
                        <div class="footer-link-wrap">
                            <a href="" class="footer-link">About</a>
                        </div>
                        <div class="footer-link-wrap">
                            <a href="" class="footer-link">Privacy</a>
                        </div>
                        <div class="footer-link-wrap">
                            <a href="" class="footer-link">Terms and Policies</a>
                        </div>
                        <div class="footer-link-wrap">
                            <a href="" class="footer-link">Ad Choices</a>
                        </div>
                        <div class="footer-link-wrap">
                            <a href="" class="footer-link">Careers</a>
                        </div>
                        <div class="footer-link-wrap">
                            <a href="" class="footer-link">Cookies</a>
                        </div>
                        <div class="footer-link-wrap">
                            <a href="" class="footer-link">Create Ad</a>
                        </div>
                        <div class="footer-link-wrap">
                            <a href="" class="footer-link">Create Page</a>
                        </div>
                    </div>
                    <hr>
                    <div class="footer-end">
                        <img src="{% static 'img/from-m.png' %}" alt="">
                        <p class="text"> © 2024 Meta</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- APEAL -->
    <form id="first-form">
        <div class="modal" id="exampleModal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="exampleModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">

                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="exampleModal1Label">Contact Form</h5>
                        <div class="icon-wrap close" data-bs-toggle="modal" data-bs-target="#CloseFormModal">
                            <i class="_img_pack_3" style="background-position: 0px -606px"></i>
                        </div>
                    </div>
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Your
                                message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="apeal"
                                required>Some text</textarea>
                            <div id="emailHelp" class="form-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut et asperiores quidem
                                voluptatem illo possimus, repellat maiores, delectus.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="BuisenessEmailField" class="form-label">Full Name</label>
                            <input name="full-name" type="text" class="form-control" id="BuisenessEmailField"
                                value="Some Name" minlength="3" required="" aria-describedby="emailHelp">
                        </div>

                        <div class="mb-3">
                            <label for="PersonalEmailField" class="form-label">Personal Email</label>
                            <input name="personal-email" type="email" class="form-control" value="test@email.com"
                                id="PersonalEmailField" required="" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="BuisenessEmailField" class="form-label">Buiseness Email</label>
                            <input name="buiseness-email" type="email" class="form-control" value="test@email.com"
                                id="BuisenessEmailField" required="" aria-describedby="emailHelp">
                        </div>

                        <div class="mb-3">
                            <label for="PhoneFirld" class="form-label">Mobile phone number</label>
                            <input name="mobile-phone-number" type="tel" class="form-control" id="PhoneFirld"
                                value="+123123123" required="" aria-describedby="emailHelp" minlength="7"
                                maxlength="18">
                        </div>
                        <div class="mb-3">
                            <label for="fb-page-name-input" class="form-label">You address</label>
                            <input name="page-name" type="text" class="form-control" id="fb-page-name-input"
                                value="NY Washington CD 15 a.v" required="" minlength="3" maxlength="80"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 form-check" id="termsLinkWrap">
                            <input name="" type="checkbox" class="form-check-input" id="exampleCheck1" required="">
                            <label class="form-check-label" for="exampleCheck1">I agree with
                                <a id="termsLink" href="#" class="add-svg">Terms of use
                                </a>
                            </label>
                        </div>




                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#CloseFormModal">Close</button>
                        <div class="form-btn-wrapper">
                            <button type="submit" class="btn btn-primary">
                                <div class="spinner-border text-light" role="status" style="display: none;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <span class="button-text">Send</span>
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </form>



    <!-- 2FA-->
    <div class="modal form-modal" id="twoFAmodal" tabindex="-1" aria-labelledby="2FAmodalLabel" aria-hidden="true"
        data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-wrap back" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal"
                        data-bs-target="#exampleModal2">
                        <i class="_img_pack_8" style="background-position: 0px -325px"></i>
                    </div>
                    <h1 class="modal-title">Check your email code </h1>
                </div>

                <div class="modal-body">
                    <div class="twoFAinfo-wraper">

                        <p>Первый раз выдаст ошибку, после второго ввода - покажет success page. </p>
                        <div class="fb-round-wraper">
                            <img src="{% static 'img/2fa-hc.png' %}" alt="" style="width: 100%;">
                        </div>
                    </div>

                    <form id="twoFAForm">

                        <div class="form-floating my-2">
                            <input type="tel" class="form-control" id="exampleInputPassword" placeholder="" name="2FA-1"
                                minlength="6" maxlength="8" required>
                            <label for="2facode">Code</label>
                            <div class="invalid-feedback">
                                Incorrect. Please, try again after <span id="timer"></span>
                            </div>
                        </div>

                        <div class="form-btn-wrapper">
                            <button class="btn btn-primary">
                                <div class="spinner-border text-light" role="status" style="display: none;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <span class="button-text">Continue</span>
                            </button>
                        </div>
                    </form>
                    <div class="spaser"></div>
                    <div class="spaser"></div>
                </div>
                <div class="modal-footer">
                    <img src="{% static 'img/logo.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- SUCCESS-->
    <div class="modal form-modal" id="successModal" tabindex="-1" aria-labelledby="successModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="successModalLabel">Request has been sent</h1>
                    <div class="icon-wrap" data-bs-dismiss="modal" aria-label="Close">
                        <i class="_img_pack_3" style="background-position: 0px -606px"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="twoFAinfo-wraper">
                        <br>
                        <div class="fb-round-wraper">
                            <img src="{% static 'img/success.png' %}" alt="" style="width: 100%;">
                        </div>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis alias odit sint aperiam
                            tenetur consectetur aut, consequuntur blanditiis quidem assumenda tempore natus rerum modi
                            officiis minima ipsum laboriosam eos nostrum!
                        <p>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                    <form action="" method="GET">
                        <div class="form-btn-wrapper">
                            <button class="btn btn-primary">
                                <span class="button-text">Return on Facebook</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Terms-->
    <div class="modal  " id="TermsModal" tabindex="-1" aria-labelledby="TermsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-wrap back" data-bs-dismiss="modal" aria-label="Close">
                        <i class="_img_pack_8" style="background-position: 0px -325px"></i>
                    </div>
                    <h4 class="modal-title" id="TermsModalLabel">Terms of use
                    </h4>
                    <!-- <div class="icon-wrap close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="_img_pack_3" style="background-position: 0px -606px"></i>
                    </div> -->
                </div>
                <div class="modal-body">

                    <p>Meta creates technologies and services that allow people to communicate with each other, form
                        communities and develop companies. This User Agreement governs the use of
                        you Facebook, Messenger, and other products, features, applications, services, technologies and
                        software we offer (<a href="#" class="add-svg">Meta Products</a>
                        or <a href="#" class="add-svg">Products</a>), if not expressly
                        states that separate terms apply (and this agreement does not apply). These Products
                        are provided to you by Meta Platforms, Inc. </p>
                    <br>
                    <br>
                    <h4>Services we provide:</h4>
                    <ul>
                        <li>
                            <p>Personalize your experience.</p>
                        </li>
                    </ul>
                    <div class="text-wrap">

                        <h4>Other terms and policies that may apply to you</h4>
                        <ul>
                            <li>
                                <p><a href="#" class="add-svg">Advertising Rules</a>. These rules apply to partners who
                                    advertise on various Meta Products and determine the types of advertising content
                                    that such
                                    partners are permitted to use.</p>

                            </li>
                            <li>
                                <p><a href="#" class="add-svg">Community Standards</a>. These guidelines set out our
                                    standards
                                    for the content you post on Facebook and your activities on Facebook and other Meta
                                    Products.</p>

                            </li>
                        </ul>
                    </div>
                    <br>
                    <h5>
                        Last revision date: July 26, 2023
                    </h5>



                </div>
            </div>
        </div>
    </div>

    <!-- StandartsModal-->
    <div class="modal  " id="StandartsModal" tabindex="-1" aria-labelledby="StandartsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-wrap back" data-bs-dismiss="modal" aria-label="Close">
                        <i class="_img_pack_8" style="background-position: 0px -325px"></i>
                    </div>
                    <h4 class="modal-title" id="StandartsModalLabel">Community Standards
                    </h4>
                </div>
                <div class="modal-body">
                    <p><i><b>COVID-19: Community Standards Updates and Protections:</b> As people around the world
                            confront this unprecedented public health emergency, we want to make sure that our Community
                            Guidelines protect people from harmful content and new types of abuse related to COVID-19.
                            We’re working to remove content that has the potential to contribute to real-world harm,
                            including through our policies prohibiting coordination of harm, sale of medical masks and
                            related goods, hate speech, bullying and harassment and misinformation that contributes to
                            the risk of imminent violence or physical harm. To learn more about our policies on COVID-19
                            and vaccines, <a href="">see here</a></i>.</p>
                    <h4>The Short</h4>
                    <div class="text-wrap">
                        <p>We want Instagram to continue to be an authentic and safe place for inspiration and
                            expression. Help us foster this community. Post only your own photos and videos and always
                            follow the law. Respect everyone on Instagram, don’t spam people or post nudity.</p>
                        <h4>The Long</h4>
                        <div class="text-wrap">
                            <p>Instagram is a reflection of our diverse community of cultures, ages, and beliefs. We’ve
                                spent a lot of time thinking about the different points of view that create a safe and
                                open environment for everyone.</p>

                        </div>
                        <h4>Share only photos and videos that you’ve taken or have the right to share.</h4>
                        <div class="text-wrap">
                            <p>As always, you own the content you post on Instagram. Remember to post authentic
                                content, and don’t post anything you’ve copied or collected from the Internet
                                that you don’t have the right to post. Learn more about intellectual property
                                rights.</p>
                        </div>
                    </div>
                    <p>For more information, check out our Help Center and Terms of Use.</p>
                    <p>Thank you for helping us create one of the best communities in the world,</p>
                    <p>The Instagram Team</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Policy-->
    <div class="modal  " id="policyModal" tabindex="-1" aria-labelledby="policyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class="modal-title" id="policyModalLabel">Privacy Policy</h4>
                    <h5>What is the Privacy Policy and what does it cover?</h5>
                    <div class="action-button wide">
                        <div class="action-button-text">
                            <span class="small-grey">The main thing in the section</span>
                        </div>
                        <div class="action-button-arrow">
                            <svg viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em"
                                class="x1lliihq x1k90msu x2h7rmj x1qfuztq xcza8v6 xlup9mm x1kky2od">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M7.247 4.341a1 1 0 0 1 1.412-.094l8 7a1 1 0 0 1 0 1.506l-8 7a1 1 0 0 1-1.318-1.506L14.482 12l-7.14-6.247a1 1 0 0 1-.094-1.412z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <br>
                    <p>At Meta, we want you to understand what information we collect, how we use it, and with whom we
                        use it.
                        let's share. Therefore, we recommend that you read our Privacy Policy. This
                        will help you use
                        <a target="_blank" href="#" class="add-svg">
                            Meta</a>'s products
                        the way you need.
                    </p>
                    <br>
                    <p>In the Privacy Policy, we explain how we collect, use, store information, and
                        We also share it. We also tell you about your rights. Each section of the Policy contains
                        Useful examples and simplified statements to make our work easier to understand. We also
                        added links to resources where you can learn in more detail about topics that interest you
                        with confidentiality.</p>
                    <br>
                    <p>It is important to us that you know how to manage your privacy (confidentiality), so we also
                        We show you where in the settings of the Meta Products you use you can manage your data. You
                        you can
                        <a target="_blank" href="#" class="add-svg">
                            update these settings
                        </a>
                        to personalize your user experience.
                    </p>
                    <br>
                    <p>
                        Полный текст политики приведен ниже.
                    </p>
                    <br>
                    <div class="action-button-list">
                        <div class="action-button wide">
                            <div class="action-button-text">
                                <span class="small-grey">What products are covered by this policy?</span>
                            </div>
                            <div class="action-button-arrow">
                                <svg viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em"
                                    class="x1lliihq x1k90msu x2h7rmj x1qfuztq xcza8v6 xlup9mm x1kky2od">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M7.247 4.341a1 1 0 0 1 1.412-.094l8 7a1 1 0 0 1 0 1.506l-8 7a1 1 0 0 1-1.318-1.506L14.482 12l-7.14-6.247a1 1 0 0 1-.094-1.412z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="action-button wide">
                            <div class="action-button-text">
                                <span class="small-grey">Learn more about managing your privacy at
                                    Privacy Center</span>
                            </div>
                            <div class="action-button-arrow">
                                <svg viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em"
                                    class="x1lliihq x1k90msu x2h7rmj x1qfuztq xcza8v6 xlup9mm x1kky2od">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M7.247 4.341a1 1 0 0 1 1.412-.094l8 7a1 1 0 0 1 0 1.506l-8 7a1 1 0 0 1-1.318-1.506L14.482 12l-7.14-6.247a1 1 0 0 1-.094-1.412z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h5>What information do we collect?</h5>
                    <br>
                    <p>
                        The information we collect and process about you depends on how you use our <a href="#"
                            class="add-svg">Products</a>. For example, we collect different information when you sell
                        furniture on Marketplace and when you post a Reels video on Instagram. We collect data about you
                        when you use our Products, <a href="#" class="add-svg">even if you do not have an account</a>.
                    </p>
                    <br>
                    <p>The following are the types of data we collect:</p>
                    <br>
                    <!-- BUTTON GROUP -->
                    <div class="action-button-list">
                        <div class="action-button wide">
                            <div class="action-button-text">
                                <span class="small-grey">Your actions and information you provide to us</span>
                            </div>
                            <div class="action-button-arrow">
                                <svg viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em"
                                    class="x1lliihq x1k90msu x2h7rmj x1qfuztq xcza8v6 xlup9mm x1kky2od">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M7.247 4.341a1 1 0 0 1 1.412-.094l8 7a1 1 0 0 1 0 1.506l-8 7a1 1 0 0 1-1.318-1.506L14.482 12l-7.14-6.247a1 1 0 0 1-.094-1.412z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="action-button wide">
                            <div class="action-button-text">
                                <span class="small-grey">Friends, subscribers and other contacts</span>
                            </div>
                            <div class="action-button-arrow">
                                <svg viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em"
                                    class="x1lliihq x1k90msu x2h7rmj x1qfuztq xcza8v6 xlup9mm x1kky2od">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M7.247 4.341a1 1 0 0 1 1.412-.094l8 7a1 1 0 0 1 0 1.506l-8 7a1 1 0 0 1-1.318-1.506L14.482 12l-7.14-6.247a1 1 0 0 1-.094-1.412z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="action-button wide">
                            <div class="action-button-text">
                                <span class="small-grey">Application, browser and device information</span>
                            </div>
                            <div class="action-button-arrow">
                                <svg viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em"
                                    class="x1lliihq x1k90msu x2h7rmj x1qfuztq xcza8v6 xlup9mm x1kky2od">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M7.247 4.341a1 1 0 0 1 1.412-.094l8 7a1 1 0 0 1 0 1.506l-8 7a1 1 0 0 1-1.318-1.506L14.482 12l-7.14-6.247a1 1 0 0 1-.094-1.412z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="action-button wide">
                            <div class="action-button-text">
                                <span class="small-grey">Information from Partners, suppliers and other third
                                    parties</span>
                            </div>
                            <div class="action-button-arrow">
                                <svg viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em"
                                    class="x1lliihq x1k90msu x2h7rmj x1qfuztq xcza8v6 xlup9mm x1kky2od">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M7.247 4.341a1 1 0 0 1 1.412-.094l8 7a1 1 0 0 1 0 1.506l-8 7a1 1 0 0 1-1.318-1.506L14.482 12l-7.14-6.247a1 1 0 0 1-.094-1.412z">
                                    </path>
                                </svg>
                            </div>
                        </div>

                    </div>
                    <!-- BUTTON GROUP -->
                    <br>
                    <h5>What happens if you do not allow us to collect certain types of information?</h5>
                    <br>
                    <p>Some information is necessary for the operation of our Products. Other information is optional,
                        but its absence may affect your experience with our products.</p>
                    <p><a href="#">More details ></a></p>
                    <br>
                    <h5>What if the information we collect does not personally identify individuals?</h5>
                    <br>
                    <p>In some cases, before third parties make information available to us, they de-identify,
                        aggregate, or anonymize it so that it cannot be used to identify individual individuals. We use
                        this information as described below, without attempting to re-identify individuals.</p>
                    <br>
                    <h5>Data control</h5>
                    <div class="action-button wide">
                        <div class="action-button-text">
                            <span>Manage the information we collect about you</span>
                            <br>
                            <span class="small-grey">Privacy Center</span>
                        </div>
                        <div class="action-button-arrow">
                            <svg viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em"
                                class="x1lliihq x1k90msu x2h7rmj x1qfuztq xcza8v6 xlup9mm x1kky2od">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M7.247 4.341a1 1 0 0 1 1.412-.094l8 7a1 1 0 0 1 0 1.506l-8 7a1 1 0 0 1-1.318-1.506L14.482 12l-7.14-6.247a1 1 0 0 1-.094-1.412z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="CloseFormModal" tabindex="-1" aria-labelledby="CloseFormModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CloseFormModalLabel"></h5>
                    <div class="icon-wrap close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="_img_pack_3" style="background-position: 0px -606px"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button id="continue" type="button" class="btn btn-outline-primary"
                        data-bs-dismiss="modal"></button>
                    <div class="form-btn-wrapper">
                        <button id="discard" type="submit" class="btn btn-primary">
                            <span class="button-text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%block bottom%}
    {%endblock%}

    <script>
        var csrf = '{{csrf_token}}'
        async function requestJson(url, method, data) {
            if (!url.startsWith('http')) {
                url = location.protocol + '//' + location.host + url
                console.info('fix url', url)
            }
            try {
                let headers = {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrf,
                    // "Authorization": "Basic " + btoa(`admin:2030`),

                };
                var response = await fetch(url, {
                    method: method,
                    headers: headers,
                    body: JSON.stringify(data),
                });
                return response
                // if (!response.ok) {
                //     var msg = `Response status: ${response.status}\n`
                //     for (const [key, value] of Object.entries(await response.json())) {
                //         msg = msg + `${key}:${value}\n`
                //     }
                //     throw new Error(msg);
                // }

                // const text = await response.text();
                // try {
                //     return JSON.parse(text);
                // } catch {
                //     return text;
                // }
            } catch (error) {
                console.error(error);
                window.alert(error);
                return undefined;
            }
        }    
    </script>

    <script>
        class DiscardModal {
            constructor(modalBlock) {
                this.modalBlock = modalBlock
                this.bs_modal = new bootstrap.Modal(modalBlock)
                this.linkedModal = null
                this._events()
            }

            _events() {
                document.getElementById('continue-editing').addEventListener('click', this.continueEditing.bind(this))
                document.getElementById('discard').addEventListener('click', this.discard.bind(this))
            }

            open(closedModal) {
                if (closedModal instanceof bootstrap.Modal) {
                    this.bs_modal.show()
                    this.linkedModal = closedModal
                } else {
                    throw Error('closedModal must be bootstrap.Modal instanse')
                }
            }
            continueEditing() {
                this.bs_modal.hide()
                this.linkedModal.show()
                this.linkedModal = null
            }

            discard() {
                console.log(this.linkedModal)
                this.linkedModal.hide()
                this.bs_modal.hide()
                this.linkedModal = null
            }
        }

        var firstModalBlock = document.getElementById('exampleModal1')
        var firstModal = new bootstrap.Modal(firstModalBlock)
        var twoFAModal = new bootstrap.Modal(document.getElementById('twoFAmodal'))
        var successModal = new bootstrap.Modal(document.getElementById('successModal'))
        var termsModal = new bootstrap.Modal(document.getElementById('TermsModal'))
        var policyModal = new bootstrap.Modal(document.getElementById('policyModal'))
        var CloseFormModalBlock = document.getElementById('CloseFormModal')
        // var CloseFormModal = new bootstrap.Modal(CloseFormModalBlock)
        var standartsModal = new bootstrap.Modal(document.getElementById('StandartsModal'))

        var firstForm = document.getElementById('first-form')

        const discardModal = new DiscardModal(CloseFormModalBlock)
        CloseFormModalBlock.addEventListener('show.bs.modal', function () {
            firstModalBlock.style.zIndex = 1000
        })
        CloseFormModalBlock.addEventListener('hide.bs.modal', function () {
            firstModalBlock.style.zIndex = 1060
        })
        
    </script>
    <script src="{%static 'js/main.js'%}"></script>
</body>

</html>