{%extends 'base.html'%}
{%load static%}
{%block head%}
<link rel="stylesheet" href="{% static 'users/css/auth_form.css' %}">
{%endblock%}
{%block content%}
<div class="login-form-wrap">
  <form method="POST" action="{%url 'users:login'%}" class="">
    {%csrf_token%}
    <div class="invalid-feedback" {%if form.non_field_errors %}style="display:block"{%endif%}>
      {{ form.non_field_errors }}
    </div>
    <div class="mb-3">
      {%csrf_token%}
      <label for="exampleInputEmail1" class="form-label">Login</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required name="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" required name="password">
    </div>
  
    <button type="submit" class="btn btn-primary">Войти</button>
    <div class="" id="registry">
      <a href="{%url 'users:sign_up' %}" class="link-primary">Нет аккаунта? Зарегестрируйтесь</a>
    </div>
  </form>
  
</div>
{%endblock%}