#screen {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
  justify-content: center;
  overflow-y: scroll;
  padding-top: 56px;
}

:root {
  --card-width: 500px;
  --card-height: 300px;
  --card-height-mob: 220px;
}

/* SCREEN */
#card-screen {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
}

.screen-top {
  flex: 7;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.screen-bottom {
  display: flex;
  justify-content: center;
  background-color: var(--fds-gray-05);
  flex: 3;
  margin-top: auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1000px) {
  #card-screen {
    height: calc(100dvh - var(--header-height));
  }

  .screen-top {
    flex: 6;
  }

  .screen-bottom {
    flex: 4;
  }
}

/* SCREEN */

/* CARD */
.front-card,
.back-card {
  max-width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.back-card {
  transform: rotateY(180deg);
}

/* FOR TEST */
/* .back-card {
        transform: 1;
    }

    .front-card,
    .back-card {
        position: relative;
        transform: rotateY(0deg);
    } */

/* FOR TEST */

.card {
  width: var(--card-width);
  height: var(--card-height);
  max-width: 100%;
  background-size: 400px;
  background-image: url("/static/vocabulary/img/card_background.jpg");
  position: relative;
}

.card-wraper {
  width: 100%;
  height: var(--card-height);
  position: relative;
  perspective: 1000px;
  display: flex;
  justify-content: center;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header,
.card-footer {
  background-color: initial;
  border-bottom: none;
  border-top: none;
  height: 60px;
}

.card-header:empty {
  height: 0px !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.card-word-text {
  font-size: 1.6rem;
}

.back-card .answer-badge {
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  width: 100%;
  top: 20px;
}

.back-card .correct-badge {
  color: var(--base-lime);
}

.back-card .wronge-badge {
  color: var(--base-cherry);
}

/* CARD */

/* BOTTOM INTERFACE */
#next-card-button {
}

.bottom-interface-wrapper {
  /* height: 100%; */
  width: 500px;
  max-width: 100%;
  padding: 0 10px;
}

.action-buttons-wrapper {
  width: 100%;
}

.answers-buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.control-button {
  border: none;
  width: 100%;
  transition: 0.3s;
}

/* CUSTOM SELECT  */
.custom-select {
  font-size: 1rem;
  font-family: Arial, sans-serif;
  position: relative;
  width: 250px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.selected-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.selected-option .flag-icon {
  /* margin-right: 10px; */
  font-size: 20px;
}

.selected-option .arrow {
  font-size: 16px;
  transition: transform 0.3s;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 10;
}

.option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #f1f1f1;
}

.option .flag-icon {
  margin-right: 10px;
  font-size: 20px;
}

.option span {
  font-size: 14px;
}

.custom-select.open .options {
  display: block;
}

.custom-select.open .selected-option .arrow {
  transform: rotate(180deg);
}

.option.hidden {
  display: none;
}

/* CUSTOM SELECT  */

@media screen and (max-width: 1000px) {
  .card-word-text {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
  }

  .card-wraper {
    height: var(--card-height-mob);
  }

  .card {
    height: var(--card-height-mob);
  }
}
