{%extends 'base.html'%}
{%load static%}
{%load vocabulary_tags%}
{%block head%}
<script src="{% static 'js/bs_form.js' %}"></script>
{%endblock%}
{%block content%}
<style>
    .card {
        min-height: 150px;
        cursor: pointer;
        position: relative;
        background-size: 300px;
        background-image: url({%static 'vocabulary/img/card_background.jpg'%});

    }

    .card:hover {
        transform: scale(1.03);
        /* Используйте transform вместо scale */
        box-shadow: 4px 4px 4px -4px var(--media-inner-border);
    }

    .card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card-text {
        text-align: center;
        font-size: 20px;
        margin: 4px;
    }

    .card .edit {
        opacity: 0;
        /* Видимое состояние */
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: var(--fds-gray-70);
        transition: opacity 0.2s ease;
    }

    .card:hover .edit {
        opacity: 1;
        /* Видимое состояние */
    }

    @media screen and (max-width: 1000px) {
        .card .edit {
            opacity: 1;
            /* Видимое состояние */
        }
    }
</style>
<!-- Modal -->
<div class="modal" id="editCardModal" tabindex="-1" aria-labelledby="editCardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" id="editCardForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCardModalLabel">Редактировать карточку</h5>
                    <div class="icon-wrap close" data-bs-toggle="modal" data-bs-target="#editCardModal">
                        <i class="_img_pack_3" style="background-position: 0px -606px"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="invalid-feedback non-field-invalid-feedback"></div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Статус</label>

                        <select id="status" name="status" class="form-select" aria-label="Default select example">
                            {% for value, label in form.status.field.choices %}
                            {% if form.status.value == value %}
                            <option value="{{ value }}" selected data-default="true">{{ label }}</option>
                            {%else%}
                            <option value="{{ value }}">{{ label }}</option>
                            {%endif%}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>
                    <input type="hidden" class="form-control" id="id" name="id">
                    <div class="mb-3">
                        <label for="en" class="form-label">Слово на английском</label>
                        <input type="text" class="form-control" id="en" name="en" required>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="ru" class="form-label">Перевод на русский</label>
                        <input type="text" class="form-control" id="ru" name="ru" required value="">
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" id="delete-card-button" data-bs-toggle="modal"
                        data-bs-dismiss="modal" data-bs-target="#deleteCardModal">Удалить</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#editCardModal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="deleteCardModal" tabindex="-1" aria-labelledby="deleteCardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" id="deleteCardForm">
                <div class="modal-header">
                    <!-- <h5 class="modal-title" id="deleteCardModalLabel">Удаление карточки</h5> -->
                    <div class="icon-wrap close" data-bs-toggle="modal" data-bs-dismiss="modal"
                        data-bs-target="#editCardModal">
                        <i class="_img_pack_3" style="background-position: 0px -606px"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id">
                    <div class="invalid-feedback non-field-invalid-feedback"></div>
                    <p class="card-text">Удалить карточку?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-dismiss="modal"
                        data-bs-target="#editCardModal">Закрыть</button>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="confirmCloseEditeedModal" tabindex="-1" aria-labelledby="confirmCloseEditeedModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmCloseEditeedModalLabel"></h5>
                <div class="icon-wrap close" data-bs-dismiss="modal" aria-label="Close"
                    data-bs-target="#confirmCloseEditeedModal">
                    <i class="_img_pack_3" style="background-position: 0px -606px"></i>
                </div>
            </div>
            <div class="modal-body">
                <p>Были внесены изменения, продолжить редактирование?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-dismiss="modal"
                    data-bs-target="#editCardModal">Продолжить
                    редактирование</button>
                <div class="form-btn-wrapper">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
                        data-bs-target="#confirmCloseEditeedModal">
                        <span class="button-text">Закрыть</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container ">
    <h1 class="text-center m-4">Мой словарь</h1>
</div>
<div class="container">
    <button class="btn btn-primary" id="add-new-card">
        <i class="fa-solid fa-square-plus" aria-hidden="true"></i>
        Добавить новую карточку
    </button>
</div>
<div class="container ">
    <div class="my-5">
        <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-list">
            {%for word in words%}
            {% show_card word %}
            {%endfor%}
        </div>
    </div>
</div>
<div id="card-template" style="display: none;">
    {%show_card%}
</div>
<script>
    class CardsAPI {
        constructor(baseUrl = 'http://127.0.0.1:8000/vocabulary/words/') {
            this.baseUrl = baseUrl;
        }

        async getWord(wordId) {
            return await this._request(`${this.baseUrl}${wordId}/`, 'GET',);
        }

        async updateWord(wordId, data) {
            return await this._request(`${this.baseUrl}${wordId}/`, 'PUT', data);
        }

        async createWord(data) {
            return await this._request(`${this.baseUrl}`, 'POST', data);
        }

        async deleteWord(wordId) {
            return await this._request(`${this.baseUrl}${wordId}/`, 'DELETE');
        }

        async _request(url, method, data = null) {
            try {
                const options = {
                    method: method, // Указываем метод (GET, POST, PUT, DELETE)
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrf,
                    },
                };
                // Если есть данные (для POST или PUT), добавляем их в body
                if (data && (method === 'POST' || method === 'PUT')) {
                    options.body = JSON.stringify(data);
                }
                const response = await fetch(url, options);
                return response
            } catch (error) {
                console.error(`API Error (${method}):`, error);
                throw error;
            }
        }
    }

    class Card {
        constructor(elem, onEditCallback) {
            this.elem = elem;
            this.onEditCallback = onEditCallback;
            this._init();
        }

        _init() {
            this.elem.addEventListener('click', this.edit.bind(this));
        }

        get id() {
            return this.elem.dataset.cardId;
        }

        edit() {
            this.onEditCallback(this.id);
        }

        remove() {
            this.elem.remove();
        }

        update(data) {
            this.elem.querySelector('[data-card-en]').textContent = data.en;
            this.elem.querySelector('[data-card-ru]').textContent = data.ru;
        }
    }
    class CardView {
        constructor(templateSelector, containerSelector) {
            this.template = document.getElementById(templateSelector).innerHTML;
            this.container = document.getElementById(containerSelector);
            this.cards = new Map()
        }

        addCardsFromPage(onEditCallback) {
            this.container.querySelectorAll('.col').forEach(card => {
                this._addCardInstance(card, onEditCallback);
            });
        }

        addCard(data, onEditCallback) {
            var html = this._renderTemplate(data)
            var elem = this.createWord(html)
            this._addCardInstance(elem, onEditCallback)
        }

        updateCard(cardId, data) {
            var card = this.cards.get(cardId + '')
            card.update(data)
        }

        _renderTemplate(data) {
            let result = template;
            for (const [key, value] of Object.entries(data)) {
                result = result.replaceAll(`{${key}}`, value);
            }
            return result;
        }

        _createElementFormHtml(html) {
            let result = this.template;
            for (const [key, value] of Object.entries(data)) {
                result = result.replaceAll(`{${key}}`, value);
            }
            return result;
        }

        _addCardInstance(elem, onEditCallback) {
            const card = new Card(elem, onEditCallback);
            this.cards.set(card.id, card);
        }

        // async edit() {
        //     editCardModalBlock.querySelector('.modal-title').innerHTML = 'Редактировать карточку'
        //     var editFormWrap = new BsJsonForm(editForm)
        //     editFormWrap.submitFunction = editFormSubmitEvent
        //     var word_data = await words.getWord(this.id)
        //     var data = await word_data.json()
        //     editFormWrap.feed(data)
        //     editWordModal.show(editWordModal)
        // }

    }

    class ModalController {
        constructor(editModalId, deleteModalId, editFormSelector, deleteFormSelector) {
            this.editModalBlock = document.getElementById(editModalId)
            this.editModal = new bootstrap.Modal(this.editModalBlock)
            this.deleteModal = new bootstrap.Modal(document.getElementById(deleteModalId))
            this.editForm = document.getElementById(editFormSelector)
            this.deleteForm = document.getElementById(deleteFormSelector)
            this.confirmCloseEditeedModal = new bootstrap.Modal(document.getElementById('confirmCloseEditeedModal'))

            this.addEvents()
        }

        addEvents() {
            this.editModalBlock.addEventListener('hide.bs.modal', (event) => {
                var formWrap = BsJsonForm.getInstance(this.editForm);
                if (formWrap.was_changed) {
                    this.confirmCloseEditeedModal.show();
                }
            });
        }

        showEditModal(data, submitCallback) {
            var form = new BsJsonForm(this.editForm)
            form.feed(data)
            form.submitFunction = submitCallback
            this.editModal.show()
        }

        hideEditModal() {
            this.editModal.hide()
        }

        showCreateModal(submitCallback){
            var form = new BsJsonForm(this.editForm)
            form.submitFunction = submitCallback
            this.editModal.show()
        }
    }

    class CardManager {
        constructor(cardsAPI, cardsView, modalController) {
            this.cardsAPI = cardsAPI
            this.cardsView = cardsView
            this.modalController = modalController
        }

        async handleEdit(cardId) {
            const response = await this.cardsAPI.getWord(cardId);
            const data = await response.json();
            modalController.showEditModal(data, this.update.bind(this))
        }

        async update(e) {
            e.preventDefault()
            var form = BsJsonForm.getInstance(e.target)
            var data = form.toDict()
            var cardId = data['id']
            const response = await this.cardsAPI.updateWord(cardId, data);
            var updated_card_data = await response.json();
            this.cardsView.updateCard(cardId, updated_card_data)
            modalController.hideEditModal()
        }

        async create(e) { 
            e.preventDefault()
            var form = BsJsonForm.getInstance(e.target)
            var data = form.toDict()
            const response = await this.cardsAPI.createWord(data);
            var responce_json = await response.json()
            if (response.ok){
                form.was_changed = false
                modalController.hideEditModal()
            } else {
                form.showErrors(responce_json)
            }
        }

        async delete() { }
    }
    var createModalButton = document.getElementById('add-new-card')
    const cardsApi = new CardsAPI()
    const modalController = new ModalController('editCardModal', 'deleteCardModal', 'editCardForm', 'deleteCardForm')
    const cardsView = new CardView('card-template', 'cards-list')
    const cardManager = new CardManager(cardsApi, cardsView, modalController)
    cardsView.addCardsFromPage(cardManager.handleEdit.bind(cardManager))
    createModalButton.addEventListener('click', () => {
        modalController.showCreateModal(cardManager.create.bind(cardManager))
    })
    

    // const words = new CardsAPI()
    // const cards = new CardsView()

    // var confirmCloseEditeedModalBlock = document.getElementById('confirmCloseEditeedModal')
    // var confirmCloseEditeedModal = new bootstrap.Modal(confirmCloseEditeedModalBlock)
    var editForm = document.getElementById('editCardForm')
    var editCardModalBlock = document.getElementById('editCardModal')
    // var editWordModal = new bootstrap.Modal(editCardModalBlock)



    // async function editFormSubmitEvent(event) {
    //     console.log('editFormSubmitEvent')
    //     event.preventDefault()
    //     var editFormWrap = BsJsonForm.getInstance(event.target)
    //     var data = editFormWrap.toDict()
    //     editFormWrap.disable()
    //     var responce = await words.updateWord(data['id'], data)
    //     if (responce.ok) {
    //         window.alert('Update object')
    //         editFormWrap.was_changed = false
    //     } else {
    //         var errorData = await responce.json()
    //         editFormWrap.showErrors(errorData)
    //     }
    //     editFormWrap.enable()
    // }

    // async function createFormSubmitEvent(event) {
    //     console.log('createFormSubmitEvent')
    //     event.preventDefault()
    //     var form = BsJsonForm.getInstance(event.target)
    //     var data = form.toDict()
    //     form.disable()
    //     var responce = await words.createWord(data)
    //     if (responce.ok) {
    //         // window.alert('Create object')
    //         form.clearFields()
    //         form.was_changed = false
    //         editWordModal.hide()
    //         var cardData = await responce.json()
    //         cards.addCard(cardData)
    //     } else {
    //         var errorData = await responce.json()
    //         form.showErrors(errorData)
    //     }
    //     form.enable()
    // }
</script>
<script>
    // var addNewCardButton = document.getElementById('add-new-card')
    // addNewCardButton.addEventListener('click', addNewCardEvent)

    // function addNewCardEvent() {
    //     editCardModalBlock.querySelector('.modal-title').innerHTML = 'Добавить новую карточку'
    //     var form = new BsJsonForm(editForm)
    //     editWordModal.show()
    //     form.submitFunction = createFormSubmitEvent
    // }
</script>
<script>
    // var deletecardButton = document.getElementById('delete-card-button')
    // var deleteCardModalBlock = document.getElementById('deleteCardModal')
    // var deleteCardModal = new bootstrap.Modal(deleteCardModalBlock)
    // deletecardButton.addEventListener('click', function () {
    //     var cardForm = BsJsonForm.getInstance(editForm)
    //     var cardId = cardForm.toDict()
    //     var deleteForm = new BsJsonForm(document.getElementById('deleteCardForm'))
    //     deleteForm.feed(cardForm.toDict())
    //     // editWordModal.hide()
    //     deleteForm.submitFunction = deleteCardEvent
    // })

    // async function deleteCardEvent(event) {
    //     event.preventDefault()
    //     var deleteForm = BsJsonForm.getInstance(event.target)
    //     var data = deleteForm.toDict()
    //     deleteForm.disable()
    //     var responce = await words.deleteWord(data['id'])
    //     if (responce.ok) {
    //         deleteForm.clearFields()
    //         cards.deleteCard(data['id'])
    //     } else {
    //         var errorData = await responce.json()
    //         deleteForm.showErrors(errorData)
    //     }
    //     deleteForm.enable()
    //     deleteCardModal.hide()
    // }
</script>
{%endblock%}