{%extends 'base.html'%}
{%load static%}
{%block head%}
<script src="{% static 'js/bs_form.js' %}"></script>
{%endblock%}
{%block content%}
<div class="content-center">
    <div class="content-inner">
        <div class="modal-header">
            <h5 class="modal-title">Создать новое слово</h5>
        </div>
        <div class="d-flex ">
            <form method="POST" action="http://127.0.0.1:8000/vocabulary/words/" id="create-word-form" class="mt-4">
                <div class="invalid-feedback non-field-invalid-feedback"></div>
                <div class="mb-3">
                    <label for="en" class="form-label">Слово на английском</label>
                    <input type="text" class="form-control" id="en" name="en" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="ru" class="form-label">Перевод на русский</label>
                    <input type="text" class="form-control" id="ru" name="ru" required value="1">
                    <div class="invalid-feedback"></div>
                </div>
                <button type="submit" class="btn btn-primary submit">
                    Сохранить</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}
{%block bottom%}
<script>
    const createWordPairForm = document.getElementById('create-word-form')
    let form = new BsJsonForm(createWordPairForm)
    createWordPairForm.addEventListener('submit', async function (e) {
        var dataToSend = form.toDict()
        e.preventDefault()
        form.disable()
        var responce = await requestJson(form.elem.action, 'POST', dataToSend)
        form.enable()
        if (responce.ok) {
            window.alert('Created word' + await responce.json())
        } else {
            var error_data = await responce.json()
            form.showErrors(error_data)
        }
    })
</script>
{%endblock%}