<div class="col" data-card-id="{{word.pk}}" data-card-status="{{word.status}}">
    <div class="card" data-card-id="{{word.pk}}" >
        <i class="edit fa-solid fa-pen-to-square"></i>
        <div class="card-body">
            <!-- {{word.status}} -->
            <p class="card-text"><b data-card-en="">{{word.en}}</b></p>
            <p class="card-text" data-card-ru="">{{word.ru}}</p>
        </div>
        <div class="card-footer">
            <span class="card_status {{word.status}}" data-card-status="">{{word.get_status_display}}</span>
        </div>
    </div>
</div>