{%extends 'base.html'%}
{%load static%}
{%block head%}
<link rel="stylesheet" href="{% static 'css/stepsProgress.css' %}">
<script src="{% static 'js/bs_form.js' %}"></script>
<script src="{% static 'js/stepsProgress.js' %}"></script>
{%endblock%}
{%block content%}
<div class="content-center">
    <div class="content-inner">
        <div class="container">
            <h5 class="h5 fw-bold text-center">Создание словаря</h5>
            <p class="text-center">Давайте создадим словарь и добавим в него первые 5 карточек</p>
            <hr>
            <div class="custom-progress my-4" id="progress">
                <div class="progress-steps">
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="1"
                        aria-valuemin="0" aria-valuemax="0"></div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <form method="POST" action="http://127.0.0.1:8000/vocabulary/words/" id="create-word-form" class="mt-4">
                <div class="invalid-feedback non-field-invalid-feedback"></div>
                <div class="mb-3">
                    <label for="en" class="form-label">Слово на английском</label>
                    <input type="text" class="form-control" id="en" name="en" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="ru" class="form-label">Перевод на русский</label>
                    <input type="text" class="form-control" id="ru" name="ru" required value="1">
                    <div class="invalid-feedback"></div>
                </div>
                <button type="submit" class="btn btn-primary submit">
                    Сохранить</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}
{%block bottom%}
<script>
    var userCardsCount = {{cards_count}}
    var progress = new StepsProgress(document.getElementById('progress'), userCardsCount, 5)
    const createWordPairForm = document.getElementById('create-word-form')
    let form = new BsJsonForm(createWordPairForm)
    createWordPairForm.addEventListener('submit', async function (e) {
        var dataToSend = form.toDict()
        e.preventDefault()
        form.disable()
        var responce = await requestJson(form.elem.action, 'POST', dataToSend)
        form.enable()
        if (responce.ok) {
            window.alert('Created word' + await responce.json())
            form.was_changed = false
            form.clearFields()
            progress.next()
        } else {
            var error_data = await responce.json()
            form.showErrors(error_data)
        }
    })
</script>
{%endblock%}