{%extends 'base.html'%}
{%load static%}
{%load vocabulary_tags%}
{%block head%}
<script src="{% static 'js/bs_form.js' %}"></script>
{%endblock%}
{%block content%}
<style>
    .card {
        min-height: 150px;
        cursor: pointer;
        position: relative;
        background-size: 300px;
        background-image: url('/static/vocabulary/img/card_background.jpg');
    }

    .card:hover {
        transform: scale(1.03);
        /* Используйте transform вместо scale */
        box-shadow: 4px 4px 4px -4px var(--media-inner-border);
    }

    .card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card-text {
        text-align: center;
        font-size: 20px;
        margin: 4px;
    }

    .modal-footer {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .modal-footer button {
        flex: 1;
    }

    .card .edit {
        opacity: 0;
        /* Видимое состояние */
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: var(--fds-gray-70);
        transition: opacity 0.2s ease;
    }

    .card:hover .edit {
        opacity: 1;
        /* Видимое состояние */
    }

    .vocabulary-buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    #status-filter {
        max-width: 300px;
        cursor: pointer;
    }

    .card-footer {
        border-top: none;
        background-color: initial;
        text-align: center;
    }

    .card_status {
        font-size: 15px;
        padding: 3px 6px;
        border-radius: 10px;
    }

    .card_status.learned {
        background-color: #d6eaf8;
        color: #3498db;
    }

    .card_status.learning {
        color: #2ecc71;
        background-color: #d5f5e3;
    }

    .card_status.postponed {
        color: #909497;
        background-color: #eaeded;
    }

    @media screen and (max-width: 1000px) {
        .card .edit {
            opacity: 1;
            /* Видимое состояние */
        }

        .vocabulary-buttons {
            text-align: center;
            flex-direction: column;
        }

        #status-filter {
            max-width: 100%;
            width: 100%;
        }
    }
</style>
<!-- CARD MODAL -->
<div class="modal" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" id="cardForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="cardModalLabel">Создать карточку</h5>
                    <div class="icon-wrap close" data-bs-toggle="modal" data-bs-target="#cardModal">
                        <i class="_img_pack_3" style="background-position: 0px -606px"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="invalid-feedback non-field-invalid-feedback"></div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Статус</label>
                        <select id="status" name="status" class="form-select" aria-label="Default select example">
                            {% for value, label in form.status.field.choices %}
                            {% if form.status.value == value %}
                            <option value="{{ value }}" selected data-default="true">{{ label }}</option>
                            {%else%}
                            <option value="{{ value }}">{{ label }}</option>
                            {%endif%}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>
                    <input type="hidden" class="form-control" id="id" name="id">
                    <div class="mb-3">
                        <label for="en" class="form-label">Слово на английском</label>
                        <input type="text" class="form-control" id="en" name="en" required>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="ru" class="form-label">Перевод на русский</label>
                        <input type="text" class="form-control" id="ru" name="ru" required value="">
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" id="delete-card-button">Удалить</button>
                    <!-- <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#cardModal">Закрыть</button> -->
                    <button type="submit" class="btn btn-primary" id="save-card-and-add-another">Сохранить и добавить
                        еще</button>
                    <button type="submit" class="btn btn-primary" id="save-card">Сохранить</button>

                </div>
            </form>
        </div>
    </div>
</div>


<!-- DELETE CARD MODAL -->
<div class="modal" id="deleteCardModal" tabindex="-1" aria-labelledby="deleteCardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" id="deleteCardForm">
                <div class="modal-header">
                    <!-- <h5 class="modal-title" id="deleteCardModalLabel">Удаление карточки</h5> -->
                    <div class="icon-wrap close" data-bs-toggle="modal" data-bs-dismiss="modal"
                        data-bs-target="#cardModal">
                        <i class="_img_pack_3" style="background-position: 0px -606px"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id">
                    <div class="invalid-feedback non-field-invalid-feedback"></div>
                    <p class="card-text">Удалить карточку?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-dismiss="modal"
                        data-bs-target="#cardModal">Закрыть</button>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- CONFIRM MODAL -->
<div class="modal" id="confirmCloseEditeedModal" tabindex="-1" aria-labelledby="confirmCloseEditeedModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmCloseEditeedModalLabel"></h5>
                <div class="icon-wrap close" data-bs-dismiss="modal" aria-label="Close"
                    data-bs-target="#confirmCloseEditeedModal">
                    <i class="_img_pack_3" style="background-position: 0px -606px"></i>
                </div>
            </div>
            <div class="modal-body">
                <p>Были внесены изменения, продолжить редактирование?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-dismiss="modal"
                    data-bs-target="#cardModal">Продолжить
                    редактирование</button>
                <div class="form-btn-wrapper">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
                        data-bs-target="#confirmCloseEditeedModal">
                        <span class="button-text">Закрыть</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container ">
    <h1 class="text-center m-4">Мой словарь</h1>
</div>
<div class="container vocabulary-buttons">
    <button class="btn btn-primary" id="add-new-card">
        <i class="fa-solid fa-square-plus" aria-hidden="true"></i>
        Добавить новую карточку
    </button>
    <select name="" id="status-filter" class="form-select">
        <option value="all">Все карточки</option>
        {%for en, ru in word_statuses%}
        <option value="{{en}}">{{ru}}</option>
        {%endfor%}
    </select>
</div>
<div class="container ">
    <div class="my-5">
        <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-list">
            {%for word in words%}
            {% show_card word %}
            {%endfor%}
        </div>
    </div>
</div>
<div id="card-template" style="display: none;">
    {%show_card%}
</div>
<script>
    class CardsAPI {
        constructor(baseUrl = "{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%url 'vocabulary:words-list'%}") {
            this.baseUrl = baseUrl;
        }

        async getWord(wordId) {
            return await this._request(`${this.baseUrl}${wordId}/`, 'GET',);
        }

        async updateWord(wordId, data) {
            return await this._request(`${this.baseUrl}${wordId}/`, 'PUT', data);
        }

        async createWord(data) {
            return await this._request(`${this.baseUrl}`, 'POST', data);
        }

        async deleteWord(wordId) {
            return await this._request(`${this.baseUrl}${wordId}/`, 'DELETE');
        }

        async _request(url, method, data = null) {
            try {
                const options = {
                    method: method,
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrf,
                    },
                };
                // Если есть данные (для POST или PUT), добавляем их в body
                if (data && (method === 'POST' || method === 'PUT')) {
                    options.body = JSON.stringify(data);
                }
                const response = await fetch(url, options);
                return response
            } catch (error) {
                console.error(`API Error (${method}):`, error);
                throw error;
            }
        }
    }

    class Card {
        constructor(elem, onEditCallback) {
            this.elem = elem;
            this.onEditCallback = onEditCallback;
            this._init();
        }

        _init() {
            this.elem.addEventListener('click', this.edit.bind(this));
        }

        get id() {
            return this.elem.dataset.cardId;
        }

        get status() {
            return this.elem.dataset.cardStatus;
        }

        edit() {
            this.onEditCallback(this.id);
        }

        remove() {
            this.elem.remove();
        }

        update(data) {
            this.elem.querySelector('[data-card-en]').textContent = data.en;
            this.elem.querySelector('[data-card-ru]').textContent = data.ru;
            this.elem.dataset.cardStatus = data.status
        }

        hide() {
            this.elem.style.display = 'none';
        }

        show() {
            this.elem.style.display = 'block'
        }
    }
    class CardView {
        constructor(templateSelector, containerSelector) {
            this.template = document.getElementById(templateSelector).innerHTML;
            this.container = document.getElementById(containerSelector);
            this.cards = new Map()
        }

        addCardsFromPage(onEditCallback) {
            this.container.querySelectorAll('.col').forEach(card => {
                this._addCardInstance(card, onEditCallback);
            });
        }

        addCardElemToContainer(data, onEditCallback) {
            console.log(data)
            var html = this._renderTemplate(data)
            var elem = this._createElementFormHtml(html)
            this._addCardInstance(elem, onEditCallback)
            this.container.prepend(elem)
        }

        updateCard(cardId, data) {
            var card = this.cards.get(cardId + '')
            card.update(data)
        }

        getCard(cardId) {
            return this.cards.get(cardId + '');
        }

        deleteCard(cardId) {
            const card = this.getCard(cardId);
            if (card) {
                card.remove();
                this.cards.delete(cardId + '');
            }
        }

        _renderTemplate(data) {
            let result = this.template;
            console.log(result)
            for (const [key, value] of Object.entries(data)) {
                result = result.replaceAll(`{${key}}`, value);
            }
            return result;
        }

        _createElementFormHtml(html) {
            const temp = document.createElement('div');
            temp.innerHTML = html;
            return temp.children[0];
        }

        _addCardInstance(elem, onEditCallback) {
            const card = new Card(elem, onEditCallback);
            this.cards.set(card.id, card);
        }

        filterByStatus(status) {
            if (status == 'all') {
                for (let card of this.cards.values()) {
                    card.show()
                }
            } else {
                for (let card of this.cards.values()) {
                    if (status == card.status) {
                        card.show()
                    } else {
                        card.hide()
                    }
                }
            }
        }
    }

    class ModalController {
        constructor(cardModalId, deleteModalId, cardFormSelector, deleteFormSelector, confirmCloseEditeedModalSelector) {
            this.cardModalBlock = document.getElementById(cardModalId)
            this.cardModal = new bootstrap.Modal(this.cardModalBlock)
            this.deleteModal = new bootstrap.Modal(document.getElementById(deleteModalId))
            this.cardForm = document.getElementById(cardFormSelector)
            this.deleteForm = document.getElementById(deleteFormSelector)
            this.confirmCloseEditeedModal = new bootstrap.Modal(document.getElementById(confirmCloseEditeedModalSelector))
            this.saveCardAndAddAnotherButton = document.getElementById('save-card-and-add-another')
            this.addEvents()
        }

        addEvents() {
            this.cardModalBlock.addEventListener('hide.bs.modal', (event) => {
                var formWrap = BsJsonForm.getInstance(this.cardForm);
                if (formWrap.was_changed) {
                    this.confirmCloseEditeedModal.show();
                }
            });
        }
        showCreateModal(submitCallback) {
            this.cardModalBlock.querySelector('.modal-title').textContent = 'Создать карточку'
            this.cardModalBlock.querySelector('#delete-card-button').style.display = 'none'
            this.saveCardAndAddAnotherButton.style.display = 'inline-block'
            var form = new BsJsonForm(this.cardForm)
            form.submitFunction = submitCallback
            this.cardModal.show()
        }

        showEditModal(data, submitCallback) {
            this.cardModalBlock.querySelector('.modal-title').textContent = 'Редактировать карточку'
            this.cardModalBlock.querySelector('#delete-card-button').style.display = 'block'
            this.saveCardAndAddAnotherButton.style.display = 'none'
            var form = new BsJsonForm(this.cardForm)
            form.feed(data)
            form.submitFunction = submitCallback
            this.cardModal.show()
        }

        hideCardModal() {
            this.cardModal.hide()
        }

        showDeleteModal(data, submitCallback) {
            var form = new BsJsonForm(modalController.deleteForm)
            form.feed(data)
            form.submitFunction = submitCallback
            this.cardModal.hide()
            this.deleteModal.show()
        }
    }

    class CardManager {
        constructor(cardsAPI, cardsView, modalController) {
            this.cardsAPI = cardsAPI
            this.cardsView = cardsView
            this.modalController = modalController
        }

        async handleEdit(cardId) {
            const response = await this.cardsAPI.getWord(cardId);
            const data = await response.json();
            modalController.showEditModal(data, this.update.bind(this))
        }

        async update(e) {
            e.preventDefault()
            var form = BsJsonForm.getInstance(e.target)
            var data = form.toDict()
            form.disable()
            var cardId = data['id']
            const response = await this.cardsAPI.updateWord(cardId, data);
            var updated_card_data = await response.json();
            if (response.ok) {
                form.was_changed = false
                this.cardsView.updateCard(cardId, updated_card_data)
                modalController.hideCardModal()
            } else {
                form.showErrors(updated_card_data)
            }
            form.enable()

        }

        async create(e) {
            e.preventDefault()
            console.log(e.submitter)
            var form = BsJsonForm.getInstance(e.target)
            var data = form.toDict()
            form.disable()
            const response = await this.cardsAPI.createWord(data);
            var responce_json = await response.json()
            if (response.ok) {
                this.cardsView.addCardElemToContainer(responce_json, this.handleEdit.bind(this))
                form.was_changed = false
                if (e.submitter.id == this.modalController.saveCardAndAddAnotherButton.id) {
                    form.clearFields()
                } else {
                    modalController.cardModal.hide()
                }

            } else {
                form.showErrors(responce_json)
            }
            form.enable()
        }

        async delete(e) {
            e.preventDefault()
            var form = BsJsonForm.getInstance(e.target)
            var data = form.toDict()
            form.disable()
            var wordId = data['id']
            const response = await this.cardsAPI.deleteWord(wordId);
            if (response.ok) {
                this.cardsView.deleteCard(wordId)
                this.modalController.deleteModal.hide()
            } else {
                alert('Error')
            }
            form.enable()
        }
    }
    var createModalButton = document.getElementById('add-new-card')
    var deleteCardButton = document.getElementById('delete-card-button')
    const cardsApi = new CardsAPI()
    const modalController = new ModalController('cardModal', 'deleteCardModal', 'cardForm', 'deleteCardForm', 'confirmCloseEditeedModal')
    const cardsView = new CardView('card-template', 'cards-list')
    const cardManager = new CardManager(cardsApi, cardsView, modalController)
    cardsView.addCardsFromPage(cardManager.handleEdit.bind(cardManager))
    createModalButton.addEventListener('click', () => {
        modalController.showCreateModal(cardManager.create.bind(cardManager))
    })
    deleteCardButton.addEventListener('click', (e) => {
        const formData = BsJsonForm.getInstance(modalController.cardForm)
        modalController.showDeleteModal(formData.toDict(), cardManager.delete.bind(cardManager))
    })    
</script>
<script>
    // CARD STATUS FILTER SELECT
    const statusFilter = document.getElementById('status-filter')

    statusFilter.addEventListener('change', () => {
        const selectedOption = statusFilter.options[statusFilter.selectedIndex]
        hideOption(selectedOption)
        cardsView.filterByStatus(selectedOption.value)
    })

    function hideOption(target_option) {
        const options = statusFilter.querySelectorAll('option')
        options.forEach(option => {
            option.style.display = 'block'
        })
        target_option.style.display = 'none'
    }
</script>
{%endblock%}